* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'Glober', Helvetica;
  font-size: 12px;
  font-weight: 400;
  color: $darkBlue;
  @media #{$small} {
    font-size: 11px;
  }
}

body {
  position: relative;

  &.no-scroll {
    overflow: hidden;
  }

  &.map-animation-backgrounds {
    &::after {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      z-index: -1;
      content: url("../images/hero/hero-map-2.jpg") url("../images/hero/hero-map-2.jpg") url("../images/hero/hero-map-3.jpg") url("../images/hero/hero-map-4.jpg");
    }
  }
}

button {
  cursor: pointer;
  font-family: 'Glober', Helvetica;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: $darkOrange;
  font-weight: 600;
  text-decoration: none;
}

hr {
  border: 0;
  height: 0;
  margin: 0;
  border-top: 1px solid $lightGrey;
}
