* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'Glober', Helvetica;
  font-size: 12px;
  font-weight: 400;
  background-color: $lightGrey;
  color: $darkBlue;
  @media #{$small} {
    font-size: 11px;
  }
}

body {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  &.no-scroll {
    overflow: hidden;
  }

}

button {
  cursor: pointer;
  font-family: 'Glober', Helvetica;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: $darkOrange;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: #E27A18;
  }
}

hr {
  border: 0;
  height: 0;
  margin: 0;
  border-top: 1px solid $lightGrey;
}
