h1, h2, h3 {
	font-weight: 600;
	line-height: 130%;
}

h1 {
	font-size: rem(56);

    @media #{$xsmall} {
    	font-size: rem(48);
    }
}

h2 {
	font-size: rem(48);
	margin-bottom: rem(30);

    @media #{$xsmall} {
    	font-size: rem(40);
		margin-bottom: rem(20);
    }
}

h3 {
	font-size: rem(36);
	line-height: rem(42);
	margin-bottom: rem(10);
}

h4 {
	font-size: rem(32);
	line-height: 130%;
}

h5 {
	font-size: rem(24);
	line-height: 130%;
}

p {
	font-size: 18px;
}

a {
	font-weight: 600;
}