/* Font faces */
$baseFontFamily: 'Helvetica Neue', Helvetica, Arial;

// Colors
$white: #ffffff;
$black: #000000;
$lightBlue: #58b2d8;
$darkBlue: #2b2c3d;
$darkGrey: #333333;
$lightGrey: #e0e0e0;
$lightOrange: #f5ad4e;
$darkOrange: #f59b25;
$green: #6cb76a;
$red: #d54544;

/* Break Points */
$xsmall: "screen and (max-width: 640px)";
$small: "screen and (max-width: 800px)";
$medium: "screen and (max-width: 1100px)";
