{% set phc = page.header.content %}
{% set alignClass = phc.align_class %}

<section class="section margin-v-lg">
  <div class="container container--no-grid container--sm margin-v-sm">

    <div class="nice-type {{ alignClass }}">
      {{ page.content }}
    </div>
  </div>
</section>
