{% set phc = page.header.content %}

<section class="section padding-v-lg backgound background--lightest-grey">
  <div class="container">
    <div class="row">
      <div class="col col--4 col--xs-12">
        <div class="margin-sm">
          {{ page.find('/images').media[phc.left_image].html('', '', 'img--circle') }}
        </div>
      </div>
      <div class="col col--8 col--xs-12">
        <div class="promo-big">
          <div class="promo-big--content">
            <h2 class="promo-big--headline">{{ phc.headline }}</h2>
            <div class="promo-big--text nice-type">
              {{ page.content }}
            </div>
            <div class="promo-big--image">
              {{ page.find('/images').media[phc.right_image] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
