{% set phc = page.header.content %}

<section class="section margin-v-md">
  <div class="container container--no-grid container--md">
    {% if phc.video_headline %}
    <h3 class="text--center margin-v-sm">{{ phc.video_headline }}</h3>
    {% endif %}
    <a class="promo-video-btn js-popup-video-button" href="{{ phc.video_button_href }}">
      {{ page.find('/images').media[phc.video_button_image].html('', '', '') }}
    </a>
  </div>
</section>
