<section class="section padding-v-md backgound background--lightest-grey">
  <div class="container">
    <div class="row">
      <div class="col col--4 col--xs-12">
        <div class="margin-sm">
          <img class="img--circle" src="http://placehold.it/1000x1000" alt="">
        </div>
      </div>
      <div class="col col--8 col--xs-12">
        <div class="promo-big">
          <div class="promo-big--content">
            <h2 class="promo-big--headline">Säkerhet & försäkring</h2>
            <div class="promo-big--text nice-type">
              <ol>
                <li>När ungdomar registrerar sig på Yepstr behöver de uppge målsmans email och de får även mail om vunna uppdrag.</li>
                <li>När ungdomar utför uppdrag via Yepstr är alltid arbetet försäkrat genom IF, för att vi litar på att ungdomar gör ett bra jobb och är seriösa.</li>
                <li>Om jobbet påbörjas och du som Uppdragsgivare eller Ungdom känner att allt inte stämmer så kan</li>
              </ol>
            </div>
            <div class="promo-big--image">
              <img src="images/graphics/promo-if-iphone.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
