{% set phc = page.header.content %}

<section class="section margin-v-lg">
  <div class="container no-grid">
    <div class="testimonials">
{% for t in phc.testimonials %}
  {% include 'partials/testimonial.html.twig' with { 'testimonial': t } %}
{% endfor %}
    </div>
  </div>
</section>
