<section class="section margin-v-lg">
  <div class="container container--no-grid container--lg margin-v-sm">
    <h2 class="section-headline text--center">Vilket ämne vill du veta mer om?</h2>
  </div>
  <div class="container container--no-grid">
    <nav role="navigation" class="faq-index">
      <ul class="reset-list faq-index--list">
        <li class="faq-index--item">
          <a class="faq-index--link" href="#">
            <h3>Jag som ungdom</h3>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet</p>
          </a>
        </li>
        <li class="faq-index--item">
          <a class="faq-index--link" href="#">
            <h3>Jag som ungdom</h3>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet</p>
          </a>
        </li>
        <li class="faq-index--item">
          <a class="faq-index--link" href="#">
            <h3>Jag som ungdom</h3>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet</p>
          </a>
        </li>
        <li class="faq-index--item">
          <a class="faq-index--link" href="#">
            <h3>Jag som ungdom</h3>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet</p>
          </a>
        </li>
        <li class="faq-index--item">
          <a class="faq-index--link" href="#">
            <h3>Jag som ungdom</h3>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet</p>
          </a>
        </li>
        <li class="faq-index--item">
          <a class="faq-index--link" href="#">
            <h3>Jag som ungdom</h3>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet</p>
          </a>
        </li>
        <li class="faq-index--item">
          <a class="faq-index--link" href="#">
            <h3>Jag som ungdom</h3>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet</p>
          </a>
        </li>
        <li class="faq-index--item">
          <a class="faq-index--link" href="#">
            <h3>Jag som ungdom</h3>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
