<div class="section--intro-header section--intro-header--raster background background--darkblue background--pos-center">
  <div class="text-wrapper text-wrapper--lg text--white">
    <h1 class="intro-header--headline">{{ page.header.content.intro.headline }}</h1>
    <h2 class="intro-header--sub-headline">{{ page.header.content.intro.sub_headline }}</h2>
  </div>
</div>
