.section {
	// background-color: $white;
	text-align: center;
	position: relative;
	overflow: hidden;
	padding: 0 rem(15);

	&--full {
		min-height: 100vh;
	}

	&__center-content {
		left: 0;
		right: 0;
		position: absolute;
		margin: 0 auto;
		max-width: rem(940);
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		padding: 0 rem(15);
	}

	.section-headline {
		&--light {
			color: $white;
		}
	}
}
