.section-cta {
  background-image: url('../images/backgrounds/patterns/bg-orange-pattern.png');
  background-size: 100% 100%;
  color: #{$white};
  
  h4 {
    font-weight: 300;
  }

  .star-rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 40px;
  }
  .star-rating > span {
    display: inline-block;
    position: relative;
    width: 1.3em;
    color: white;
  }

  .btn--cta {
    background-color: #{$white};
    border: none;
    color: #{$darkOrange};
    border-radius: 5px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.25);

  }
}