.section--faq {
  text-align: left;
  padding-bottom: 150px;
  max-width: 800px;
  margin: 0 auto;

  h2 {
    font-size: rem(36);
    margin-top: rem(80);
    margin-bottom: rem(10);
    @media #{$xsmall} {
      font-size: rem(28);
    }
  }
}
