.section--intro {
  .intro-section-headline {
    margin-bottom: rem(55);
  }
  .intro-splash-image {
    position: absolute;
    right: rem(63);
    bottom: 0;
    width: rem(203);
  }
  .btn {
    margin: 10px 10px 0 0;
  }
  .to-download-app-btn {
    display: none;
    @media #{$xsmall} {
      display: inline-block;
    }
  }
  @media #{$xsmall} {
    .intro-section-headline {
      margin-bottom: rem(20);
      h1 {
        font-size: rem(36);
      }
      h4 {
        font-size: rem(28);
      }
    }
    .intro-splash-image {
      display: none;
    }
  }
}
