.section--intro-header {
  position: relative;

  .text-wrapper {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 150px 30px 100px;
    @media #{$xsmall} {
      padding: 100px 30px;
    }

    &--lg {
      max-width: 1260px;
    }

    &--860 {
      // Shame shame shame
      max-width: 860px;
    }

    &--lg-padding {
      padding: 250px 30px 200px;
      @media #{$xsmall} {
        padding: 150px 30px 100px;
      }
    }
  }

  &--full {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .text-wrapper {
      margin: 0;
    }
  }

  .intro-header--headline {
    @media #{$xsmall} {
      font-size: rem(36);
    }
  }

  .intro-header--sub-headline {
    font-weight: 400;
    font-size: rem(24);
    @media #{$xsmall} {
      font-size: rem(22);
    }
  }

  .intro-splash-image {
    position: absolute;
    right: rem(63);
    bottom: 0;
    cursor: pointer;
    width: rem(203);
    @media #{$xsmall} {
      display: none;
    }
  }
}
