$raster: '../images/graphics/raster.png';

.section--intro-header {
  position: relative;

  .text-wrapper {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 200px 30px 100px;
    @media #{$small} {
      padding: 100px 30px;
    }

    &--lg {
      max-width: 1700px;
    }

    &--860 {
      // Shame shame shame
      max-width: 860px;
    }

    &--lg-padding {
      padding: 300px 30px 250px;
      @media #{$small} {
        padding: 100px 30px;
      }
      @media #{$xsmall} {
        padding: 50px 30px;
      }
    }
  }

  &--full {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .text-wrapper {
      margin: 0;
    }
  }

  &--darken,
  &--raster {
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }

  &--darken {
    &:before {
      background-color: rgba($darkBlue, 0.4);
    }
  }

  &--raster {
    &:before {
      background-color: rgba($darkBlue, 0.3);
      background-image: url($raster);
    }
  }

  .intro-header--headline {
    @media #{$xsmall} {
      font-size: rem(28);
    }
  }

  .intro-header--sub-headline {

    font-size: rem(32);
    @media #{$large} {
      font-size: rem(24);
    }
    @media #{$xsmall} {
      font-size: rem(20);
    }
  }

  .intro-splash-image {
    position: absolute;
    right: rem(35);
    bottom: - rem(63);
    cursor: pointer;
    width: rem(203);
    z-index: 3;
    @media #{$medium} {
      display: none;
    }
  }

  .intro-header--button-case {
    .btn {
      margin: 3px 0;
    }
  }
}
