$padding-top: 140;
$pedistal-height: 150;
$phone-position-top: 0;
$phone-position-left: 0;
$phone-width: 504;
$phone-height: 589;
$section-height: 800;
$map-position-top: $phone-position-top + 163;
$map-position-left: $phone-position-left + 21;
$map-width: 200;
$map-height: 332;

.section--intro-header {
  position: relative;
  height: #{$section-height}px;
  background-image: url('../images/backgrounds/patterns/bg-city-pattern.png');

  &--gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba($offWhite, 1) 0%, rgba($offWhite, 0) 40%);
  }

  &--column {
    margin-top: #{$padding-top}px;
  }

  .pedistal {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid $lightGrey;
    height: #{$pedistal-height}px;
    background-color: $white;
  }

  .text-wrapper {
    text-align: left;
    padding-right: 50px;
    margin: 114px 0 0 auto;
    width: 600px;

    .intro-header--sub-headline {
      span i {
        font-weight: 600;
      }
      font-size: rem(32);
      @media #{$large} {
        font-size: rem(24);
      }
      @media #{$xsmall} {
        font-size: rem(20);
      }
    }

    .cd-headline {
      i {
        font-style: normal;

      }
    }
  }

  .intro-header--headline {
    @media #{$xsmall} {
      font-size: rem(28);
    }
  }

  .intro-header--sub-headline {
    font-size: rem(32);
    @media #{$large} {
      font-size: rem(24);
    }
    @media #{$xsmall} {
      font-size: rem(20);
    }

    .cd-row-1 {
      white-space: nowrap;
    }
  }

  &--map-animation {
    // height: $section-height;
    position: relative;
    height: 100%;

    .phones {
      z-index: 100;
      background-size: contain;
      background-image: url('../images/graphics/phones-map-mask.png');
      background-repeat: no-repeat;
      position: absolute;
      top: #{$phone-position-top}px;
      left: #{$phone-position-left}px;
      width: #{$phone-width}px;
      height: #{$phone-height}px;
    }

    .map-position {
      z-index: 10;
      position: absolute;
      width: #{$map-width}px;
      height: #{$map-height}px;
      top: #{$map-position-top}px;
      left: #{$map-position-left}px;
    }

    .map-backgrounds {
      width: 100%;
      height: 100%;
    }

    .map-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: opacity 1000ms;
      opacity: 0;

      &.is-visible {
        opacity: 1;
      }

      &--1 {
        background-image: url('../images/intro-header-section/phone-map-1.jpg');
      }

      &--2 {
        background-image: url('../images/intro-header-section/phone-map-2.jpg');
      }

      &--3 {
        background-image: url('../images/intro-header-section/phone-map-3.jpg');
      }

      &--4 {
        background-image: url('../images/intro-header-section/phone-map-4.jpg');
      }
    }
  }
}
