$padding-top: 140;
$pedistal-height: 150;
$phone-position-top: 0;
$phone-position-left: 0;
$phone-width: 378;
$phone-height: 506;
$section-height: 600;
$map-position-top: $phone-position-top + 112;
$map-position-left: $phone-position-left + 16;
$map-width: 150;
$map-height: 249;

.section--startpage-header {
  position: relative;
  height: auto;
  background-image: url('../images/backgrounds/patterns/bg-city-pattern.jpg');
  background-repeat: repeat-x;
  border-bottom: 1px solid $lightGrey;

  .container {
    position: relative;
    padding-top: rem(50);
    @media #{$medium} {
      padding-top: rem(75);
    }
    @media #{$small} {
      padding-top: 0;
    }
  }

  .text-wrapper {
    text-align: left;
    margin-top: 50px;
    width: 50%;
    @media #{$medium} {
      position: relative;
      top: 50px;
      margin: 0 auto;
      width: 100%;
      text-align: center;

    }

    .startpage-header--headline {
      font-size: rem(50);
      margin-bottom: rem(20);
      padding-right: rem(10);
      @media #{$medium} {
        font-size: rem(46);
        padding-right: 0;
      }
      @media #{$small} {
        font-size: rem(44);
      }
      @media #{$xsmall} {
        font-size: rem(42);
      }
    }

    .startpage-header--sub-headline {
      font-weight: 400;

      span b {
        font-weight: 400;
      }
      font-size: rem(24);

      @media #{$xsmall} {
      margin-bottom: rem(40);
        font-size: rem(18);
      }

      .cd-row-1 {
        white-space: nowrap;
      }
    }

    .cd-headline {
      i {
        font-style: normal;

      }
    }
  }

  .phones-animation {
    position: absolute;
    width: #{$phone-width}px;
    height: #{$phone-height}px;
    right: 45px;
    top: rem(100);
  
    @media #{$medium} {
      position: relative;
      right: auto;
      bottom: auto;
      margin: 0 auto;
    }
    @media #{$small} {
      width: 300px;
      height: 400px;
    }

    .phones {
      z-index: 100;
      background-size: contain;
      background-image: url('../images/graphics/phones-map-mask.png');
      background-repeat: no-repeat;
      position: absolute;
      top: #{$phone-position-top}px;
      left: #{$phone-position-left}px;
      width: 100%;
      height: 100%;
    }

    .map-position {
      z-index: 10;
      position: absolute;
      width: #{$map-width}px;
      height: #{$map-height}px;
      top: #{$map-position-top}px;
      left: #{$map-position-left}px;
      @media #{$small} {
        width: 115px;
        height: 200px;
        top: 97px;
        left: 13px;
      }
    }

    .map-backgrounds {
      width: 100%;
      height: 100%;
    }

    .map-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: opacity 1000ms;
      opacity: 0;

      &.is-visible {
        opacity: 1;
      }

      &--1 {
        background-image: url('../images/startpage-header-section/phone-map-1.jpg');
      }

      &--2 {
        background-image: url('../images/startpage-header-section/phone-map-2.jpg');
      }

      &--3 {
        background-image: url('../images/startpage-header-section/phone-map-3.jpg');
      }

      &--4 {
        background-image: url('../images/startpage-header-section/phone-map-4.jpg');
      }
    }
  }

  .app-links {

    .download-app-btn,
    a {
      width: 220px;
      height: 74px;
      @media #{$medium} {
        width: 170px;
        height: 57px;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }


}
