.subscribe-step {
	position: absolute;
	left: rem(15);
	right: rem(15);
	top: 50%;
	opacity: 0;
	transform: translateX(100%) translateY(-50%);
	transition: transform 650ms ease-in, opacity 300ms linear 200ms;

	&.active {
		opacity: 1;
		transform: translateX(0%) translateY(-50%);
		transition: transform 650ms ease-in, opacity 300ms linear 200ms;
	}

	&.active.finished {
		opacity: 0;
		transform: translateX(-100%) translateY(-50%);
		transition: transform 650ms ease-in, opacity 300ms linear 200ms;
	}

	&--1, &--2, &--3 {
		@media #{$xsmall} {
			top: 32%;
		}
	}

	&--4 {
		@media #{$xsmall} {
			top: 0;
			transform: translateX(100%) translateY(0%);
			
			&.active {
				transform: translateX(0%) translateY(0%);
			}
			&.active.finished {
				transform: translateX(-100%) translateY(0%);
			}
		}
	}
}

.subscribe-step-headline {
	margin-bottom: rem(10);
}

.subscribe-step-input {
	margin-top: rem(25);
	margin-bottom: rem(25);
	&:focus{
		outline:none;
		background: rgba(43, 44, 61, 0.15);
	}
}

.subscribe-form-step-3-btn-wrapper{
	.btn{
		margin-top:10px;
	}
	
}

.subscribe-btn-wrapper {
	position: absolute;
	bottom: rem(50);
	left: 0;
	right: 0;
}

.subscribe-step-paragraph {
	text-align: left;
}

.subscribe-step-yt-video {
	width: 100%;

	@media #{$xsmall} {
		display: none;
	}
}

.subscribe-step-yt-link {
	display: none;
	text-decoration: none;
	margin-bottom: rem(20);

	@media #{$xsmall} {
		display: block;
	}
}