@@include('./shared/_head.html', { "title": "Bli en Yep!" }) @@include('./shared/_header.html')
<div class="pattern-header pattern-header--full background background--yep-hero background--pos-left section--intro">
  <div class="text-wrapper text-wrapper--860">
    <div class="intro-section-headline">
      <h1>Välkommen Young Entrepeneur!</h1>
      <h4>15-21 år gammal och vill göra något stort med ditt liv? <br /> Skaffa dig ett försprång in i arbetslivet med Yepstr. <br /> <br />Tacka ja till de uppdrag som passar dig och få betalt rakt in på ditt bankkonto - säkert, försäkrat och vitt!</h4>
    </div>
    <div class="margin-v-sm">
      <a class="btn btn--primary btn--orange btn--inline js-popup-video-button ga-play-video" href="http://www.youtube.com/watch?v=0EtlUOMbdPk">Se vår video</a>
    </div>
  </div>
  <div class="scroll-icon js-scroll-to-section" data-target="how-it-works"></div>
</div>
<section>
  <div id="how-it-works" class="step-box-wrapper">
    <div class="step-box background--orange">
      <div class="step-box__inner">
        <div class="step-box__ball text--orange">1</div>
        <h2 class="step-box__title">Ladda hem appen & registrera dig</h2>
        <p class="step-box__text">Appen finns både till <a href="/ladda-ner-appen.html">iOS och Android</a></p>
      </div>
    </div>
    <div class="step-box background--dark-grey">
      <div class="step-box__inner">
        <div class="step-box__ball text--dark-grey">2</div>
        <h2 class="step-box__title">Snart kommer jobben direkt i fickan</h2>
        <p class="step-box__text">Du får ett meddelande när någon i ditt område behöver hjälp</p>
      </div>
    </div>
    <div class="step-box background--blue">
      <div class="step-box__inner">
        <div class="step-box__ball text--blue">3</div>
        <h2 class="step-box__title">Lön rakt till ditt bankkonto!</h2>
        <p class="step-box__text">Kunden betalar direkt via appen till ditt konto</p>
      </div>
    </div>
  </div>
</section>
<section id="promo" class="section section--promo background background--dark-blue-pattern">
  <h2 class="section-headline--light margin-v-lg">Möt andra Yeppar</h2>
  <div class="container container--no-gutter promo-box-wrapper margin-v-lg">
    <div class="promo-box promo-box--md-height promo-box--align-center">
      <div class="promo-box__text">
        <h3 class="promo-box__text__headline"></h3>
        <blockquote>
          <p class="promo-box__text__blockquote">"Jag tycker att det är en grym idé det här med att hjälpa ungdomar hitta jobb, så jag vill göra mitt bästa för att dra igång Yepstr i Täby"</p>
        </blockquote>
        <h5 class="promo-box__text__sec-headline">- Ludvig, Täby</h5>
      </div>
      <div class="promo-box__image promo-box__image--right" style="background-image:url(images/testimonials/ludvig-md.jpg)"></div>
    </div>
    <div class="promo-box promo-box--md-height promo-box--align-center">
      <div class="promo-box__image" style="background-image:url(images/testimonials/tea-md.jpg)"></div>
      <div class="promo-box__text promo-box__text--right">
        <blockquote>
          <p class="promo-box__text__blockquote">"Jag tar betalt genom Yepstr för då vet jag att pengarna kommer till mitt konto, att skatten blir rätt och att vi är försäkrade. Sen gillar jag idén att jag faktiskt bygger mitt riktiga CV under tiden jag jobbar, eftersom alla utvärderingar sparas"</p>
        </blockquote>
        <h5 class="promo-box__text__sec-headline">- Tea, Stockholm</h5>
      </div>
    </div>
    <h2 class="section-headline--light margin-v-lg">Möt uppdragsgivare</h2>
    <div class="container container--no-gutter promo-box-wrapper margin-v-lg">
      <div class="promo-box promo-box--md-height promo-box--align-center">
        <div class="promo-box__text">
          <p class="box__text__paragraph">Sara Abbevik fick klart sin altan</p>
          <blockquote>
            <p class="promo-box__text__blockquote">"Tack vare Levon fick vi ordning på det mycket snabbare än vi tidigare trott. Dessutom så känns det väldigt bra att hjälpa en ambitiös ungdom tjäna lite fickpengar"</p>
          </blockquote>
          <h5 class="promo-box__text__sec-headline">- Sara Abbevik</h5>
        </div>
        <div class="promo-box__image promo-box__image--right" style="background-image:url(images/testimonials/sara-md.jpg)"></div>
      </div>
      <div class="promo-box promo-box--md-height promo-box--align-center">
        <div class="promo-box__image" style="background-image:url(images/testimonials/madeleine-md.jpg)"></div>
        <div class="promo-box__text promo-box__text--right">
          <p class="box__text__paragraph">Madeleine Rudefors lät röja upp i trädgården efter vintern</p>
          <blockquote>
            <p class="promo-box__text__blockquote">"Min man tyckte jag var lite knäpp som ville prova, men jag tror allt att han blev lite imponerad när han såg hur det funkade. Första svaret fick vi efter bara någon minut. En timme senare var uppdraget bokat och Jonathan gjorde ett toppenjobb till en oslagbar kostnad"</p>
          </blockquote>
          <h5 class="promo-box__text__sec-headline">- Madeleine Rudefors</h5>
        </div>
      </div>
    </div>
</section>
<section class="section section--download-app nice-type">
  <div class="inner">
    <div class="row">
      <div class="col col--6 col--md-12">
        <div class="text-wrap">
          @@include(markdown('./markdown/ladda-ner-appen-yep.markdown'))
          <a href="https://play.google.com/store/apps/details?id=com.yepstr.android" class="download-app-btn download-app-btn--google-play ga-outbound-link">Get it on Google Play</a>
          <a href="https://itunes.apple.com/se/app/yepstr/id1069311381?mt=8" class="download-app-btn download-app-btn--app-store ga-outbound-link">Availible on the App Store</a>
          <p class="divider-or">eller</p>
          <a href="https://app.yepstr.com" target="_blank" class="download-app-btn download-app-btn--web-browser ga-outbound-link">Direkt i webbläsaren</a>
        </div>
      </div>
      <div class="col col--6 col--md-12">
        <div class="img-wrap">
          <img src="images/app-splash-big.png">
        </div>
      </div>
    </div>
  </div>
</section>
<hr/>
<section class="section section--cta background background--map-pattern background--pos-top">
  <div class="inner margin-v-lg">
    <h2>Vill du veta mer?</h2>
    <p>Vi har samla de vanligaste frågorna vi hört från våra användare.</p>
    <div class="button-case">
      <a href="vanliga-fragor.html" target="_blank" class="btn btn--orange btn--inline ga-outbound-link">Läs vanliga frågor</a>
    </div>
    <p class="margin-v-sm">Redo att komma igång? <a href="sa-funkar-det.html">Då kör vi!</a></p>
  </div>
</section>
@@include('./shared/_footer.html')
