@@include('./shared/_head.html', {
  "title": "Hem"
})

@@include('./shared/_header.html')
<section class="section section--full section--intro">
    <video class="full-screen-video js-full-screen-video" poster="images/video-bg.jpg" autoplay loop>
        <source src="videos/video-bg.mp4" type="video/mp4">
        <source src="videos/video-bg.webm" type="video/webm">
    </video>
    <div class="full-screen-video-raster"></div>
    <div class="section__center-content">
        <div class="intro-section-headline">
            <h1>Yepstr är här för att ge dig mer fritid</h1>
            <h4>- samtidigt som du hjälper ungdomar in i arbetslivet</h4>
        </div>
        <a class="btn btn--primary btn--white-no-arrow btn--inline js-popup-video-button" href="http://www.youtube.com/watch?v=0EtlUOMbdPk">Hur funkar det?</a>
        <a class="btn btn--primary btn--orange btn--inline" href="https://app.yepstr.com/movement" target="_blank">Gå med nu!</a>
    </div>
    <a href="ladda-ner-appen.html"><img class="intro-splash-image" src="/images/app-splash.png"></a>
    <div class="scroll-icon js-scroll-to-section" data-target="how-it-works"></div>
</section>
<section id="how-it-works" class="section section--cta">
    <div class="inner margin-v-lg">
        <h1>Vad är Yepstr?</h1>
        <p>Yepstr är en app som kopplar ihop dig som är behov av hjälp med enkla uppgifter (såsom trädgårdsarbete eller hundpassning) med den ambitiösa tonåringen precis nedför gatan.</p>
        <p>Yepstr hjälper till med allt från betalning, försäkring och skatt så att du får mer fritid över till annat!</p>
        <div class="button-case">
            <a href="/sa-funkar-det.html" class="btn btn--orange btn--inline">Läs mer</a>
        </div>
    </div>
</section>
<!-- <hr />
<div id="promo" class="bg-container" style="background-position: bottom center;">
    <section id="subscribe" class="section section--full section--subscribe">
        <div class="subscribe-step subscribe-step--1 js-subscribe-step js-subscribe-step-0">
            <h2 class="subscribe-step-headline">Se om Yepstr finns i ditt område!</h2>
            <form id="form-step-1">
                <input type="number" name="zipcode" min="10000" max="99999" pattern="\d*" / class="input-field subscribe-step-input" placeholder="Skriv in ditt postnummer" required>
                <button type="submit" class="btn btn--continue"></button>
            </form>
        </div>
        <div class="subscribe-step subscribe-step--2 js-subscribe-step js-subscribe-step-1">
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
        </div>
        <div class="subscribe-step subscribe-step--3 js-subscribe-step js-subscribe-step-2">
            <div class="js-not-found-zipcode">
                <h5 class="subscribe-step-headline">Tyvärr! Yepstr är inte lanserat i ditt område ännu</h5>
                <h3 class="subscribe-step-headline">Lämna din email så notifierar vi så fort vi är igång!</h3>
            </div>
            <div class="js-found-zipcode" style="display: none;">
                <h5 class="subscribe-step-headline">Yes! Du bor i ett av våra testområden.</h5>
                <h3 class="subscribe-step-headline">Lämna email så skickar vi en invite-kod inom ett par veckor.</h3>
            </div>
            <form id="form-step-3">
                <input id="subscribe-email-input" type="email" name="email" class="input-field subscribe-step-input" placeholder="Din epostadress" required>
                <p class="js-email-error-msg text-center text-danger" style="display: none;">Du måste skriva in en korrekt epostadress</p>
                <div class="subscribe-form-step-3-btn-wrapper">
                    <button type="submit" class="btn btn--orange" data-role="customer">Jag vill ha hjälp</button>
                    <button type="submit" class="btn btn--orange" data-role="yep">Jag vill arbeta <small>Du måste vara under 20 år</small></button>
                </div>
            </form>
        </div>
        <div class="subscribe-step subscribe-step--4 js-subscribe-step js-subscribe-step-3">
            <h2 class="">Tack!</h2>
            <div class="container">
                <div class="row">
                    <div class="col col--6 col--xs-12">
                        <a href="https://www.youtube.com/watch?v=0EtlUOMbdPk" class="btn btn--orange subscribe-step-yt-link">Se filmen</a>
                        <iframe class="subscribe-step-yt-video" width="560" height="315" src="https://www.youtube.com/embed/0EtlUOMbdPk" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="col col--6 col--xs-12">
                        <p class="subscribe-step-paragraph">Som du förstått är vi i färd med att skapa något alldeles speciellt - något vi tror kan förända världen. På Yepstr är vi övertygade om att de första småjobben, sommarjobben och extraknäcken är långt viktigare än man idag ger sken av. Det är där de första professionella relationerna byggs som många av livets viktigaste läxor lärs ut. Det är där många livslånga mentorskap uppstår. När det återigen är vanligt att ungdomar, vid sidan av skolan, har ett extrajobb är vi övertygade om att vi kommer slå tillbaka ungdomsarbetslösheten och utanförskapet. På riktigt.
                            <br>
                            <br> Vad kul att du vill vara med på resan!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscribe-btn-wrapper">
      <button type="button" class="btn btn--primary btn--blue js-scroll-to-section" data-target="yep-register">Jag vill jobba!</button>
    </div>
    </section>
</div> -->
<!-- <section class="section section--full section--yep-register background background--dark-blue-pattern">
  <div class="inner">
    <h2 class="hiw-section-headline">Vill du bli en yep (young entrepreneur)?</h2>
    <div class="register-form-wrapper">
      <header class="register-form-header">
        <p>Är du 13-19 år och vill tjäna extra pengar på dina egna villkor? Med yepstr på din mobil så får du löpande uppdragserbjudanden i ditt område som du enkelt tackar ja eller nej till. Vill du vara med på tåget?</p>
      </header>
      <form id="register-form" class="register-form">
        <div class="container container--no-gutter">
          <div class="row register-form-row">
            <div class="col col--6 col--xs-12 register-form-col">
              <input type="text" name="firstname" class="input-field input-field--clean register-form-input" placeholder="Förnamn" required>
            </div>
            <div class="col col--6 col--xs-12 register-form-col">
              <input type="text" name="lastname" class="input-field input-field--clean register-form-input" placeholder="Efternamn" required>
            </div>
          </div>
          <div class="row register-form-row">
            <div class="col col--6 col--xs-12 register-form-col">
              <select name="age" class="register-form-input">
                <option value="" disabled selected>Hur gammal är du?</option>
                <option value="under 13">Under 13</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="over 19">Över 19</option>
              </select>
            </div>
            <div class="col col--6 col--xs-12 register-form-col">
              <input type="email" name="email" class="input-field input-field--clean register-form-input" placeholder="Emailadress" required>
            </div>
          </div>
          <div class="row register-form-row">
            <div class="col col--6 col--xs-12 register-form-col">
              <input type="number" name="phonenumber" pattern="\d*" / class="input-field input-field--clean register-form-input" placeholder="Telefonnummer (frivilligt)">
            </div>
            <div class="col col--6 col--xs-12 register-form-col">
              <input type="number" name="zipcode" min="10000" max="99999" pattern="\d*" / class="input-field input-field--clean register-form-input" placeholder="Postkod (frivilligt)">
            </div>
          </div>
        </div>
        <input type="hidden" name="fromLandingPage" value="true">
        <div class="register-form-submit-wrapper">
          <button type="submit" class="btn btn--orange btn--inline">Jag vill bli en yep</button>
        </div>
      </form>
      <p class="success-msg js-register-yep-msg">Tack, vi hör av oss!</p>
    </div>
  </div>
</section> -->
<!-- <section id="promo" class="section section--full section--promo">
  <div class="center-content">
    <div>
      <div class="container container--no-gutter promo-box-wrapper">
        <div class="promo-box promo-box--align-center">
          <div class="promo-box__text">
            <h3 class="promo-box__text__headline">Vill du bli en yep (young entrepreneur)?</h3>
            <p class="promo-box__text__paragraph">
              Är du 13-19 år och vill tjäna extra pengar på dina egna villkor? Med yepstr på din mobil så får du löpande uppdragserbjudanden i ditt område som du enkelt tackar ja eller nej till. Just nu håller vi på att Beta-testa vår tjänst - vill du vara med på tåget?
              <br>
              <br>Registrera dig här så hojtar vi till så fort vi har plats!
            </p>
            <button class="btn btn--orange btn--inline js-open-register-btn">Registrera dig</button>
          </div>
          <div class="promo-box__image">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/0EtlUOMbdPk" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="promo-box">
          <div class="promo-box__image" style="background-image:url(/images/jobba-yepstr.jpg)"></div>
          <div class="promo-box__text">
            <h3 class="promo-box__text__headline">På jakt efter en ny utmaning?</h3>
            <p class="promo-box__text__paragraph">Vi letar alltid efter exceptionellt ambitiösa personer som delar vår vision - att hjälpa fler unga stå på sina egna ben. På yepstr har vi fyra kärnvärden - "Ownership and Champion of the Mission", "Entrepreneurial Mindset", "Humble Attitude" och "We like feeling the wind in our hair". Du är alltid välkommen att skriva till oss och berätta vad dessa värden betyder för dig <a href="mailto::spontan@yepstr.com">spontan@yepstr.com</a>.</p>
            <h5 class="promo-box__text__sec-headline">Vill du se vilka tjänster vi annonserar just nu?</h5>
            <a class="btn btn--blue btn--inline" href="http://yepstr.com/careers">Till karriärssiten</a>
          </div>
        </div>
      </div>
      <div class="video-disclaimer">
        <span>Intro video by Tim Williams under the Attribution License 3.0</span>
      </div>
    </div>
  </div>
  <div class="register-form-overlay js-register-form-overlay">
    <div class="register-form-wrapper">
      <header class="register-form-header">
        <h3>yep registrering</h3>
        <p>Berätta lite mer om dig själv, så hör vi av oss så fort vi har plats!</p>
      </header>
      <form id="register-form" class="register-form">
        <div class="container container--no-gutter">
          <div class="row register-form-row">
            <div class="col col--6 col--xs-12 register-form-col">
              <input type="text" name="firstname" class="input-field input-field--clean register-form-input" placeholder="Förnamn" required>
            </div>
            <div class="col col--6 col--xs-12 register-form-col">
              <input type="text" name="lastname" class="input-field input-field--clean register-form-input" placeholder="Efternamn" required>
            </div>
          </div>
          <div class="row register-form-row">
            <div class="col col--6 col--xs-12 register-form-col">
              <select name="age" class="register-form-input">
                <option value="" disabled selected>Hur gammal är du?</option>
                <option value="under 13">Under 13</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="over 19">Över 19</option>
              </select>
            </div>
            <div class="col col--6 col--xs-12 register-form-col">
              <input type="email" name="email" class="input-field input-field--clean register-form-input" placeholder="Emailadress" required>
            </div>
          </div>
          <div class="row register-form-row">
            <div class="col col--6 col--xs-12 register-form-col">
              <input type="number" name="phonenumber" pattern="\d*" / class="input-field input-field--clean register-form-input" placeholder="Telefonnummer (frivilligt)">
            </div>
            <div class="col col--6 col--xs-12 register-form-col">
              <input type="number" name="zipcode" min="10000" max="99999" pattern="\d*" / class="input-field input-field--clean register-form-input" placeholder="Postnummer (frivilligt)">
            </div>
          </div>
        </div>
        <div class="register-form-submit-wrapper">
          <button type="submit" class="btn btn--green btn--inline">Jag vill bli en yep</button>
        </div>
        <button type="button" class="register-form-close-modal js-register-form-close-modal"></button>
      </form>
      <p class="success-msg js-register-yep-msg">Tack, vi hör av oss!</p>
    </div>
  </div>
</section> -->
@@include('./shared/_footer.html')
