@@include('./shared/_head.html', { "title": "Start" }) @@include('./shared/_header.html')
<div class="pattern-header pattern-header--full background background--customer-hero background--pos-left section--intro">
  <div class="text-wrapper text-wrapper--lg">
    <div class="intro-section-headline">
      <h1>Hur kan våra Yeppar hjälpa dig?</h1>
      <!-- <h4 class="margin-v-sm">Testandet över och Yepstr finns äntligen tillgängligt i hela Sverige! Registrera dig idag!</h4> -->
      <h4>Vi har över 1.000 drivna ungdomar som vill hjälpa sina grannar!</h4>
    </div>
    <ul class="task-list reset-list margin-v-sm">
      <li class="task-list__item task-list__item--babysitting">Barnpassning</li>
      <li class="task-list__item task-list__item--event-helper">Eventhjälp</li>
      <li class="task-list__item task-list__item--dog-walking">Hundpassning</li>
      <li class="task-list__item task-list__item--gardening">Trädgård</li>
      <li class="task-list__item task-list__item--household">Hushåll</li>
      <li class="task-list__item task-list__item--misc">Övrigt</li>
    </ul>
    <a class="btn btn--primary btn--orange btn--inline js-scroll-to-section ga-scroll-to-link" data-target="download-app">Kom igång!</a>
    <br />
    <a class="btn btn--primary btn--white-link btn--inline js-popup-video-button ga-play-video" href="http://www.youtube.com/watch?v=0EtlUOMbdPk">Se vår video</a>
  </div>
  <div class="js-scroll-to-section ga-scroll-to-link" data-target="download-app"><img class="intro-splash-image" src="images/app-splash.png"></div>
  <div class="scroll-icon js-scroll-to-section" data-target="in-the-media"></div>
</div>
<section id="in-the-media" class="section section--in-the-media background background--map-pattern background--pos-top">
  <div class="inner margin-v-lg">
    <h1>Yepstr i media</h1>
    <p>Se vad som skrivs om oss!</p>
    <ul class="logo-list reset-list margin-v-sm">
      <li class="logo-list__item">
        <a class="ga-outbound-link" href="http://www.ehandel.se/Fran-grasklippning-i-tonaren-till-app-for-ungdomsjobb,8074.html"><img src="images/media-logos/logo-ehandel_se.png"></a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" href="http://digital.di.se/artikel/miljardar-mentor-gar-in-i-smajobbsapp"><img src="images/media-logos/logo-di_digital.png"></a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" href="http://www.breakit.se/artikel/3804/stena-chefen-dan-sten-olsson-gar-in-i-bemmaningsappen-yepstr"><img src="images/media-logos/logo-breakit.png"></a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" href="http://www.dagensanalys.se/2016/06/yepstr-satsar-pa-att-bli-virala/"><img src="images/media-logos/logo-dagensanalys.png"></a>
      </li>
    </ul>
    <div class="podcast-splash margin-v-md background background--white">
      <div class="podcast-splash__image">
        <img src="images/media-logos/logo-thestkhlmer.png">
      </div>
      <div class="podcast-splash__text">
        <p>Vår grundare Jacob var nyligen med i Maddy Savages podcast <strong>The Stockholmer</strong> och pratade om vår vision att hjälpa lokala områden komma närmare och bilda community. <a class="ga-outbound-link" href="https://www.acast.com/thestockholmer/theentrepreneurbringingbacktheneighbourhoodkid">Lyssna på podden via Acast</a></p>
      </div>
    </div>
  </div>
</section>
<section id="promo" class="section section--promo background background--dark-blue-pattern">
  <h2 class="section-headline--light margin-v-lg">Hur fungerar tjänsten?</h2>
  <div class="container container--no-gutter promo-box-wrapper margin-v-lg">
    <div class="promo-box promo-box--md-height promo-box--align-center">
      <div class="promo-box__text">
        <h3 class="promo-box__text__headline">Vad är Yepstr?</h3>
        <p class="promo-box__text__paragraph">Appen Yepstr kopplar ihop hushåll i behov av hjälp med enkla uppgifter (som trädgårdsarbete eller hundpassning) med drivna tonåringar i grannskapet.</p>
        <a href="sa-funkar-det.html" class="btn btn--blue btn--inline">Så funkar det</a>
      </div>
      <div class="promo-box__image promo-box__image--right" style="background-image:url(images/promo-images/how-it-works.jpg)"></div>
    </div>
  </div>
  <div class="container container--no-gutter promo-box-wrapper margin-v-lg">
    <div class="promo-box promo-box--md-height promo-box--align-center">
      <div class="promo-box__text">
      <h3 class="promo-box__text__headline">Sara Abbevik fick klart sin altan</h3>
        <p>Sara tog hjälp av Levon, en ung kille från kommunens största gymnasium, för att färdigställa sin altan.</p>
        <blockquote>
          <p class="promo-box__text__blockquote">"Det är en häftig känsla att få en hjälpande hand och att hjälpa en av grannskapets ungdomar med extrajobb på samma gång. Skönt att ha betalning och bokning på samma ställe dessutom."</p>
        </blockquote>
        <h5 class="promo-box__text__sec-headline">- Sara Abbevik</h5>
      </div>
      <div class="promo-box__image promo-box__image--right" style="background-image:url(images/promo-images/sara.jpg)"></div>
    </div>
    <div class="promo-box promo-box--md-height promo-box--align-center">
      <div class="promo-box__image" style="background-image:url(images/promo-images/emil.jpg)"></div>
      <div class="promo-box__text promo-box__text--right">
        <h3 class="promo-box__text__headline">Möt en av våra Yeppar</h3>
        <p>Emil utförde det första uppdraget i Bromma och är nu aktivt engagerad i att få fler ungdomar att ansluta sig.</p>
        <blockquote>
          <p class="promo-box__text__blockquote">"Yepstr är perfekt för mig då det ger mig frihet att jobba när jag vill. Sen känns det väldigt tryggt att någon har koll, att betalningen går till ens konto och att man får hjälp med deklarationen."</p>
        </blockquote>
        <h5 class="promo-box__text__sec-headline">- Emil, 15 år</h5>
      </div>
    </div>
  </div>
  <div class="container container--no-gutter promo-box-wrapper margin-v-lg">
    <div class="promo-box promo-box--md-height promo-box--align-center">
      <div class="promo-box__text">
        <h3 class="promo-box__text__headline">Försäkring ingår alltid genom vår samarbetspartner IF</h3>
        <p class="promo-box__text__paragraph">Yepstr har som vision att vara den tryggaste plattformen för den här typen av tjänster. Därför ingår bland annat alltid en ansvarsförsäkring via IF som täcker skador på upp till 10 miljoner kronor.</p>
      </div>
      <div class="promo-box__image promo-box__image--right" style="background-image:url(images/promo-images/if.jpg)"></div>
    </div>
  </div>
  <div class="container container--no-gutter promo-box-wrapper margin-v-lg">
    <div class="promo-box promo-box--md-height promo-box--align-center">
      <div class="promo-box__image" style="background-image:url(images/promo-images/team.jpg)"></div>
      <div class="promo-box__text promo-box__text--right">
        <h3 class="promo-box__text__headline">Om oss på Yepstr</h3>
        <p class="promo-box__text__paragraph">Sedan starten 2014 så har Yepstr vuxit till ett team på sju (snart åtta!) som arbetar heltid med att ta Yepstr till världen. Vi har även ett snabbväxande team unga Ambassadörer som dagligen hjälper nya ungdomar komma igång och tjäna sina första pengar.</p>
      </div>
    </div>
  </div>
</section>
<section id="download-app" class="section section--download-app nice-type">
  <div class="inner">
    <div class="row">
      <div class="col col--6 col--md-12">
        <div class="text-wrap">
          @@include(markdown('./markdown/ladda-ner-appen-customer.markdown'))
          <a href="https://play.google.com/store/apps/details?id=com.yepstr.android" class="download-app-btn download-app-btn--google-play ga-outbound-link">Get it on Google Play</a>
          <a href="https://itunes.apple.com/se/app/yepstr/id1069311381?mt=8" class="download-app-btn download-app-btn--app-store ga-outbound-link">Availible on the App Store</a>
          <p class="divider-or">eller</p>
          <a href="https://app.yepstr.com/userRoleCrossroads" target="_blank" class="download-app-btn download-app-btn--web-browser ga-outbound-link">Direkt i webbläsaren</a>
        </div>
      </div>
      <div class="col col--6 col--md-12">
        <div class="img-wrap">
          <img src="images/app-splash-big.png">
        </div>
      </div>
    </div>
  </div>
</section>
<hr/>
<section class="section section--cta background background--map-pattern background--pos-top">
  <div class="inner margin-v-lg">
    <h2>Vill du veta mer?</h2>
    <div class="button-case">
      <a href="sa-funkar-det.html" class="btn btn--orange btn--inline margin-sm">Så funkar det</a>
      <a href="vanliga-fragor.html" class="btn btn--orange btn--inline margin-sm">Vanliga frågor</a>
    </div>
  </div>
</section>
@@include('./shared/_footer.html')
