@@include('./shared/_head.html')
<div class="pattern-header background background--orange-pattern">
  @@include('./shared/_header.html')
  <div class="text-wrapper">
    @@include(markdown('./markdown/header-ladda-ner-appen.markdown'))
  </div>
</div>
<section class="section section--download-app nice-type">
  <div class="inner">
    <div class="row">
      <div class="col col--6 col--md-12">
        <div class="text-wrap">
          @@include(markdown('./markdown/ladda-ner-appen.markdown'))
          <a href="https://play.google.com/store/apps/details?id=com.yepstr.android" class="download-app-btn download-app-btn--google-play">Get it on Google Play</a>
          <a href="https://itunes.apple.com/se/app/yepstr/id1069311381?mt=8" class="download-app-btn download-app-btn--app-store">Availible on the App Store</a>
          <p class="divider-or">eller</p>
          <a href="https://app.yepstr.com" class="download-app-btn download-app-btn--web-browser">Availible on the App Store</a>
        </div>
      </div>
      <div class="col col--6 col--md-12">
        <div class="img-wrap">
          <img src="images/app-splash-big.png">
        </div>
      </div>
    </div>
  </div>
</section>
<hr/>
<section class="section section--cta">
  <div class="inner margin-v-lg">
    <h2>Har du ingen inbjudningskod?</h2>
    <p>Hör av dig till oss så fixar vi det så snabbt vi bara kan.</p>
    <div class="button-case">
      <a href="/index.html#subscribe" class="btn btn--orange btn--inline">Se om Yepstr finns hos dig!</a>
    </div>
  </div>
</section>
@@include('./shared/_footer.html')
