@@include('./shared/_head.html')
<div class="pattern-header background background--orange-pattern">
  @@include('./shared/_header.html')
  <div class="text-wrapper">
    @@include(markdown('./markdown/header-press.markdown'))
    <br />
    <a class="btn btn--primary btn--white-no-arrow btn--inline" href="#">Ladda ner vårt presskit</a>
  </div>
</div>
<section id="details" class="section section--faq nice-type">
  @@include(markdown('./markdown/press.markdown'))
  <h2>Bilder <small></small></h2>
  <p><a href="#">Ladda ner alla bilder (.zip)</a></p>
  <h3>Yepstr</h3>
  <div class="image-grid image-grid--1-col image-grid--grayscale-filter">
    <a class="image" href="docs/press/Yepstr_Team_7.jpg">
      <figure>
        <img src="images/press//team-photos/yepstr-team-photo.jpg" alt="Jacob Rydbäck">
        <figcaption>
          <p>Yepstr team</p>
        </figcaption>
      </figure>
    </a>
  </div>
  <div class="image-grid image-grid--3-col image-grid--grayscale-filter">
    <a class="image" href="docs/press/Yepstr_Team_1.jpg">
      <figure>
        <img src="images/press//team-photos/yepstr-team-1.jpg" alt="Jacob Rydbäck">
        <figcaption>
          <p>Jacob Rudbäck, CEO</p>
        </figcaption>
      </figure>
    </a>
    <a class="image" href="docs/press/Yepstr_Team_2.jpg">
      <figure>
        <img src="images/press//team-photos/yepstr-team-2.jpg" alt="Linda Hårleman">
        <figcaption>
          <p>Linda Hårleman, CMO</p>
        </figcaption>
      </figure>
    </a>
    <a class="image" href="docs/press/Yepstr_Team_4.jpg">
      <figure>
        <img src="images/press//team-photos/yepstr-team-4.jpg" alt="Filip Gruvstad">
        <figcaption>
          <p>Filip Gruvstad, CTO</p>
        </figcaption>
      </figure>
    </a>
    <a class="image" href="docs/press/Yepstr_Team_3.jpg">
      <figure>
        <img src="images/press//team-photos/yepstr-team-3.jpg" alt="Gustav Ahlberg">
        <figcaption>
          <p>Gustav Ahlberg, Dev</p>
        </figcaption>
      </figure>
    </a>
    <a class="image" href="docs/press/Yepstr_Team_6.jpg">
      <figure>
        <img src="images/press//team-photos/yepstr-team-6.jpg" alt="Anton Lejon">
        <figcaption>
          <p>Anton Lejon, Dev</p>
        </figcaption>
      </figure>
    </a>
    <a class="image" href="docs/press/Yepstr_Team_5.jpg">
      <figure>
        <img src="images/press//team-photos/yepstr-team-5.jpg" alt="Karl Löfholm">
        <figcaption>
          <p>Karl Löfholm, Design</p>
        </figcaption>
      </figure>
    </a>
    <a class="image" href="docs/press/Yepstr_Team_7.jpg">
      <figure>
        <img src="images/press//team-photos/yepstr-team-7.jpg" alt="Jimmy Hagelfors">
        <figcaption>
          <p>Jimmy Hagelfors, Market</p>
        </figcaption>
      </figure>
    </a>
  </div>
  <h3>Våra ambassadörer</h3>
  <div class="image-grid image-grid--3-col image-grid--grayscale-filter">
    <a class="image" href="#">
      <figure>
        <img src="images/press//team-photos/yepstr-ambassadeur-tea.jpg" alt="Tea">
        <figcaption>
          <p>Tea</p>
        </figcaption>
      </figure>
    </a>
    <a class="image" href="#">
      <figure>
        <img src="images/press//team-photos/yepstr-ambassadeur-philip.jpg" alt="Philip">
        <figcaption>
          <p>Philip</p>
        </figcaption>
      </figure>
    </a>
  </div>
</section>
@@include('./shared/_footer.html')
