@@include('./shared/_head.html', { "title": "Sommarjobb" })
@@include('./shared/_header.html', { "active-page": "sommarjobb" })
<div class="pattern-header pattern-header--full background background--summer-job">
  <div class="text-wrapper text-wrapper--lg text-wrapper--lg-padding">
    <h1>Jobba enligt dina villkor i sommar!</h1>
    <p>Hos Yepstr hittar du extraknäck, lokalt hela sommaren!</p>
    <br />
    <a class="btn btn--primary btn--white-no-arrow btn--inline" href="/bli-en-yep.html">Bli en Yep!</a>
  </div>
</div>
@@include('./shared/_footer.html')
