<header class="main-header-wrapper">
  <a class="site-logo" href="index.html">yepstr</a>
  <nav role="navigation" class="main-header-nav main-nav">
    <ul>
      <li><a href="#">Jag vill jobba</a></li>
      <li><a href="#">Så funkar det</a></li>
      <li><a href="#">Vanliga frågor</a></li>
    </ul>
  </nav>
  <nav role="navigation" class="main-header-nav support-nav">
    <ul>
      <li><a href="https://app.yepstr.com/userRoleCrossroads" target="_blank">Skapa konto</a></li>
      <li><a href="https://app.yepstr.com/signin" target="_blank">Logga in</a></li>
    </ul>
  </nav>

</header>
