$no-col: 12;
$gutter: 30px;
$max-width-xl: 1800px;
$max-width-lg: 1500px;
$max-width-md: 1100px;
$max-width-sm: 800px;

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width-lg;
  padding: 0 $gutter;
  @media #{$xsmall} {
    padding: 0;
  }

  &--no-gutter {
    padding: 0;
  }

  &--no-grid {
    padding: 0 ($gutter + ($gutter / 2));
    @include clearfix();
    @media #{$xsmall} {
      padding: 0 ($gutter / 2);
    }
  }

  &--xl {
    max-width: $max-width-xl;
  }

  &--lg {
    max-width: $max-width-lg;
  }

  &--md {
    max-width: $max-width-md;
  }

  &--sm {
    max-width: $max-width-sm;
  }
}

.row {
  @include clearfix();

  // .row {
  //   margin-left: - ($gutter / 2);
  //   margin-right: - ($gutter / 2);
  // }
}

.col {
  width: 100%;
  float: left;
  padding: 0 $gutter / 2;
  @for $i from 1 through $no-col {
    &--#{$i} {
      width: calc((100% / #{$no-col}) * #{$i});
    }

    &--offset-#{$i} {
      margin-left: calc((100% / #{$no-col}) * #{$i});
    }

    &--offset-0 {
      margin-left: 0;
    }
  }
  @media #{$large} {
     @for $i from 1 through $no-col{
      &--lg-#{$i} {
        width: calc(((100% / #{$no-col}) * #{$i}));
      }

      &--lg-offset-#{$i} {
        margin-left: calc((100% / #{$no-col}) * #{$i});
      }

      &--lg-offset-0 {
        margin-left: 0;
      }
    }
  }
  @media #{$medium} {
     @for $i from 1 through $no-col{
      &--md-#{$i} {
        width: calc(((100% / #{$no-col}) * #{$i}));
      }

      &--md-offset-#{$i} {
        margin-left: calc((100% / #{$no-col}) * #{$i});
      }

      &--md-offset-0 {
        margin-left: 0;
      }
    }
  }
  @media #{$small} {
     @for $i from 1 through $no-col{
      &--sm-#{$i} {
        width: calc(((100% / #{$no-col}) * #{$i}));
      }

      &--sm-offset-#{$i} {
        margin-left: calc((100% / #{$no-col}) * #{$i});
      }

      &--sm-offset-0 {
        margin-left: 0;
      }
    }
  }
  @media #{$xsmall} {
     @for $i from 1 through $no-col{
      &--xs-#{$i} {
        width: calc(((100% / #{$no-col}) * #{$i}));
      }

      &--xs-offset-#{$i} {
        margin-left: calc((100% / #{$no-col}) * #{$i});
      }

      &--xs-offset-0 {
        margin-left: 0;
      }
    }
  }
}
