<section class="section margin-v-lg">
  <div class="container container--no-grid container--lg margin-v-sm">
    <h2 class="section-headline text--center">Om oss</h2>
  </div>
  <div class="container container--no-grid container--md margin-v-sm">
    <div class="col col--8 col--md-12">
      <div class="nice-type">
        <p>
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget
          quam. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor
          fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.
        </p>
      </div>
    </div>
    <div class="col col--4 col--md-12">
      <div class="press-info">
        <div class="press-info--bubble padding-sm center-content">
          <div class="press-info--content" href="#">
            <h2 class="press-info--headline">Pressmaterial</h2>
            <div class="press-info--text">
              <p>Presskontakt är <a href="#">Jacob Rudbäck</a>. <br> Allt pressmaterial finns på <a href="#">Mynewsdesk</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
