<section class="section margin-v-lg">
  <div class="container container--md margin-v-sm">
    <div class="row">
      <div class="col col--8 col--offset-4 col--sm-12 col--sm-offset-0">
        <div class="visible-sm nice-type">
          <a href="#">Tillbaka till våra ämnen</a>
        </div>
        <h2 class="section-headline">Jag som ungdom</h2>
      </div>
    </div>
  </div>
  <div class="container container--md">
    <div class="row">
      <div class="col col--4 col--sm-12">
        <div class="faq-nav">
          <nav role="navigation" class="hidden-sm">
            <ul class="reset-list faq-nav--list">
              <li class="faq-nav--item is-active"><a href="">Jag som ungdom</a></li>
              <li class="faq-nav--item"><a href="">Jag som uppdragsgivare</a></li>
              <li class="faq-nav--item"><a href="">Betalningar</a></li>
              <li class="faq-nav--item"><a href="">Säkerhet</a></li>
              <li class="faq-nav--item"><a href="">Lag och skatt</a></li>
              <li class="faq-nav--item"><a href="">Funktionalitet</a></li>
              <li class="faq-nav--item"><a href="">Företag</a></li>
              <li class="faq-nav--item"><a href="">Konto</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col col--8 col--sm-12">
        <div class="nice-type">
          <h3>Finns det någon åldersgräns?</h3>
          <p>För att vara en Yep (Young Entrepreneur) så måste man vara mellan 15 och 21 år gammal.</p>

          <h3>Behöver jag be mina föräldrar om tillåtelse?</h3>
          <p>Om du är under 18 år så måste du ha dina föräldrar (eller din målsmans) tillåtelse för att få jobba. Det är nämligen deras plikt att se till att ditt arbete inte går ut över exempelvis skolgången! Mer info finns i föräldrabalken kapitel 6, §12</p>

          <h3>Vad kan jag tjäna på Yepstr?</h3>
          <p>Precis som i riktiga livet, så desto fler uppdrag och desto högre betyg du lyckas få desto mer kan du ta betalt! När du kommer in som helt ny så kan du som 16-åring ta betalt omkring 80kr/h och som 19-åring 110kr/h.</p>

          <h3>Vad har jag för krav på mig att betala skatt?</h3>
          <p>Arbete på Yepstr är ”inkomst av tjänst” som vanligtvis är skattefritt när man tjänar under 18.739 kr under ett år (för 2016). Men! Skatt i Sverige är en komplicerad affär och många gånger vet Skatteverket själva knappt hur mycket och vad man
            skall betala. Därför är vårt generella tips att alltid spara alltid undan cirka en tredjedel av allt du tjänar upp till 18.739 kr (2016). Bra träning inför framtiden Tjänar du mer än 18.739 kr under ett år på Yepstr så skickar vi dig ett mail
            med lite tips om hur du kan räkna ut hur mycket du bör spara undan framöver. Mer information finner du hos Skatteverket alternativt ring Skatteupplysningen direkt på 0771–567 567!</p>
        </div>
      </div>
    </div>
  </div>
</section>
