<section class="section section--in-the-media background background--map-pattern background--pos-top margin-v-md">
  <div class="container container--no-grid container--xl ">
    <ul class="logo-list reset-list margin-v-sm">
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="https://mitti.se">
          <img src="images/media-logos/logo-mitti-200.png">
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="https://www.acast.com/thestockholmer/theentrepreneurbringingbacktheneighbourhoodkid">
          <img src="images/media-logos/logo-thestockholmer-200.png">
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="https://www.entreprenor.se/nyklackt/vill-skapa-globalt-natverk-for-drivna-unga_658801.html">
          <img src="images/media-logos/logo-entreprenor-200.png">
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="http://www.ehandel.se/Fran-grasklippning-i-tonaren-till-app-for-ungdomsjobb,8074.html">
          <img src="images/media-logos/logo-ehandel-200.png">
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="http://digital.di.se/artikel/miljardar-mentor-gar-in-i-smajobbsapp">
          <img src="images/media-logos/logo-digital-200.png">
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="http://www.breakit.se/artikel/3804/stena-chefen-dan-sten-olsson-gar-in-i-bemmaningsappen-yepstr">
          <img src="images/media-logos/logo-breakit-200.png">
        </a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" target="_blank" href="http://www.dagensanalys.se/2016/06/yepstr-satsar-pa-att-bli-virala/">
          <img src="images/media-logos/logo-dagensanalys-200.png">
        </a>
      </li>
    </ul>
  </div>
</section>
