<div class="row section--intro-header">
  <div class="col col--6">
    <div class="text-wrapper">
      <h1 class="intro-header--headline">Hur kan våra drivna ungdomar hjälpa dig?</h1>
      <h3 class="intro-header--sub-headline cd-headline js-type-headline letters type">
        <div>
          <span>Vi har </span>
          <span class="cd-words-wrapper">
            <b data-background=".map-background--1" data-animationdelay="5000" class="is-visible" >
              1500+ ungdomar över hela landet
            </b>
            <b data-background=".map-background--2" data-animationdelay="2500">
              t.ex. 100+ ungdomar på Lidingö
            </b>
            <b data-background=".map-background--3" data-animationdelay="2500">
              t.ex. 180+ ungdomar i Nacka
            </b>
            <b data-background=".map-background--4" data-animationdelay="2500">
              t.ex. 270+ ungdomar i Täby
            </b>
          </span>
        </div>
        <div>
          <span> som vill hjälpa sina grannar!</span>
        </div>
      </h3>

      <div class="margin-v-sm">
        <a
          class="btn btn--primary btn--orange btn--inline js-modal-toggle"
        >
          Vad behöver du hjälp med?
        </a>
      </div>

    </div>
  </div>
  <div class="col col--6 section--intro-header--map-animation">
    <div class="section--intro-header--phones-wrapper">
      <div class="map-position">
        <div class="js-map-backgrounds map-backgrounds">
          <div class="map-background--1 map-background is-visible"></div>
          <div class="map-background--2 map-background"></div>
          <div class="map-background--3 map-background"></div>
          <div class="map-background--4 map-background"></div>
        </div>
      </div>

    </div>
  </div>
</div>
