<section class="section margin-v-lg">
  <div class="container container--no-grid container--lg margin-v-sm">
    <h2 class="section-headline text--center">Team Yepstr</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col col--3 col--lg-4 col--sm-6 col--xs-12">
        <div class="contact-card">
          <div class="contact-card--image"><img class="img--circle" src="http://placehold.it/400x400" alt=""></div>
          <div class="contact-card--name">Jacob Rudbäck</div>
          <div class="contact-card--title">CEO</div>
          <div class="contact-card--phone">+46 723 36 26 66</div>
          <div class="contact-card--email"><a href="#">jacob@yepstr.com</a></div>
        </div>
      </div>
      <div class="col col--3 col--lg-4 col--sm-6 col--xs-12">
        <div class="contact-card">
          <div class="contact-card--image"><img class="img--circle" src="http://placehold.it/400x400" alt=""></div>
          <div class="contact-card--name">Jacob Rudbäck</div>
          <div class="contact-card--title">CEO</div>
          <div class="contact-card--phone">+46 723 36 26 66</div>
          <div class="contact-card--email"><a href="#">jacob@yepstr.com</a></div>
        </div>
      </div>
      <div class="col col--3 col--lg-4 col--sm-6 col--xs-12">
        <div class="contact-card">
          <div class="contact-card--image"><img class="img--circle" src="http://placehold.it/400x400" alt=""></div>
          <div class="contact-card--name">Jacob Rudbäck</div>
          <div class="contact-card--title">CEO</div>
          <div class="contact-card--phone">+46 723 36 26 66</div>
          <div class="contact-card--email"><a href="#">jacob@yepstr.com</a></div>
        </div>
      </div>
      <div class="col col--3 col--lg-4 col--sm-6 col--xs-12">
        <div class="contact-card">
          <div class="contact-card--image"><img class="img--circle" src="http://placehold.it/400x400" alt=""></div>
          <div class="contact-card--name">Jacob Rudbäck</div>
          <div class="contact-card--title">CEO</div>
          <div class="contact-card--phone">+46 723 36 26 66</div>
          <div class="contact-card--email"><a href="#">jacob@yepstr.com</a></div>
        </div>
      </div>
      <div class="col col--3 col--lg-4 col--sm-6 col--xs-12">
        <div class="contact-card">
          <div class="contact-card--image"><img class="img--circle" src="http://placehold.it/400x400" alt=""></div>
          <div class="contact-card--name">Jacob Rudbäck</div>
          <div class="contact-card--title">CEO</div>
          <div class="contact-card--phone">+46 723 36 26 66</div>
          <div class="contact-card--email"><a href="#">jacob@yepstr.com</a></div>
        </div>
      </div>
      <div class="col col--3 col--lg-4 col--sm-6 col--xs-12">
        <div class="contact-card">
          <div class="contact-card--image"><img class="img--circle" src="http://placehold.it/400x400" alt=""></div>
          <div class="contact-card--name">Jacob Rudbäck</div>
          <div class="contact-card--title">CEO</div>
          <div class="contact-card--phone">+46 723 36 26 66</div>
          <div class="contact-card--email"><a href="#">jacob@yepstr.com</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
