<div class="container container--no-gutter promo-box-wrapper margin-v-lg">
  <div class="promo-box promo-box--md-height promo-box--align-center">
    <div class="promo-box__text">
      <h3 class="promo-box__text__headline">Vad är Yepstr?</h3>
      <p class="promo-box__text__paragraph">Appen Yepstr kopplar ihop hushåll i behov av hjälp med enkla uppgifter (som trädgårdsarbete eller hundpassning) med drivna ungdomar i grannskapet.</p>
      <a href="sa-funkar-det.html" class="btn btn--blue btn--inline">Så funkar det</a>
    </div>
    <div class="promo-box__image promo-box__image--right" style="background-image:url(images/promo-images/how-it-works.jpg)"></div>
  </div>
</div>
