<section class="section margin-v-lg">
  <div class="container container--no-grid container--sm">
    <div class="timeline">
      <div class="timeline--step">
        <div class="timeline--content">
          <h3 class="timeline--step-headline">
            <span class="timeline--step-headline-number">
              1
            </span>
            <span class="timeline--step-headline-text">
              Skapa konto
            </span>
          </h3>
          <p class="timeline--step-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.
          </p>
        </div>
      </div>
      <div class="timeline--step">
        <div class="timeline--content">
          <h3 class="timeline--step-headline">
            <span class="timeline--step-headline-number">
              2
            </span>
            <span class="timeline--step-headline-text">
              Lorem ipsum dolor sit amet consectetur
            </span>
          </h3>
          <p class="timeline--step-text">
            Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui.
            Nulla vitae elit libero, a pharetra augue.
          </p>
          <div class="timeline--step-image">
            <img src="http://placehold.it/300x600" alt="">
          </div>
        </div>
      </div>
      <div class="timeline--step">
        <div class="timeline--content">
          <h3 class="timeline--step-headline">
            <span class="timeline--step-headline-number">
              3
            </span>
            <span class="timeline--step-headline-text">
              Skapa konto
            </span>
          </h3>
          <p class="timeline--step-text">
            Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut
            id elit.
          </p>
          <div class="timeline--step-image">
            <img src="http://placehold.it/300x600" alt="">
          </div>
        </div>
      </div>
      <div class="timeline--step">
        <div class="timeline--content">
          <h3 class="timeline--step-headline">
            <span class="timeline--step-headline-number">
              4
            </span>
            <span class="timeline--step-headline-text">
              Skapa konto
            </span>
          </h3>
          <p class="timeline--step-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
