@@include('./shared/_head.html', { "title": "Start" })
<!--  -->
@@include('./shared/_header.html')
<!--  -->
@@include('./partials/intro-header-start.html')
<!--  -->
@@include('./partials/task-nav.html')
<!--  -->
@@include('./partials/promo-1.html')
<!--  -->
@@include('./partials/testimonials.html')
<!--  -->
@@include('./partials/promo-2.html')
<!--  -->
@@include('./partials/in-the-media.html')
<!--  -->
@@include('./partials/grid-example.html')
<!--  -->
@@include('./shared/_footer.html')
