@@include('./shared/_head.html', { "title": "Start" })
<!--  -->
@@include('./shared/_header.html')
<!--  -->
@@include('./partials/intro-header-start.html')
<!--  -->
@@include('./partials/task-nav.html')
<!--  -->
@@include('./partials/promo-1.html')
<!--  -->
@@include('./partials/testimonials.html')
<!--  -->
@@include('./partials/promo-2.html')
<!--  -->
@@include('./partials/in-the-media.html')
<!--  -->
@@include('./partials/section-text-intro.html')
<!--  -->
@@include('./partials/timeline.html')
<!--  -->
@@include('./partials/promo-3.html')
<!--  -->
@@include('./partials/about-us-text.html')
<!--  -->
@@include('./partials/portrait-grid.html')
<!--  -->
@@include('./partials/promo-4.html')
<!--  -->
@@include('./partials/kitchen-sink.html')
<!--  -->
@@include('./partials/grid-example.html')
<!--  -->
@@include('./shared/_footer.html')
