.app-links-container {
  max-width: 300px;
  margin: rem(150) auto 0;
  @media #{$large} {
    margin-top: rem(100);
  }
  @media #{$medium} {
    margin-top: 0;
  }
}

.app-links {
  &--item {
    margin: rem(30) 0;
    line-height: 30px;

    a {
      line-height: 30px;
      vertical-align: middle;
      display: inline-block;
    }

    &::before {
      vertical-align: middle;
      display: inline-block;
      content: "";
      margin: 0 auto;
      width: 30px;
      height: 30px;
      padding-left: 15px;
      background-repeat: no-repeat;
      background-position: 'top left';
      background-size: 30px 30px;
    }

    &--ios::before {
      background-image: url("../images/icons/app-icon-ios.svg");
    }

    &--android::before {
      background-image: url("../images/icons/app-icon-android.svg");
    }

    &--web::before {
      background-image: url("../images/icons/app-icon-web.svg");
    }
  }
}
