.background{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &--orange{
    background-color: $darkOrange;
  }
  &--blue{
    background-color: $lightBlue;
  }
  &--darkblue{
    background-color: $darkBlue;
  }
  &--grey{
    background-color: $lightGrey;
  }
  &--warm-grey{
    background-color: $lightGrey;
  }
  &--green{
    background-color: $green;
  }
  &--gradient{
    background-color: $lightBlue;
  }
  &--orange-pattern{
    background-color: $darkOrange;
    background-image: url("../images/patterns/bg-yellow.png");
  }
  &--blue-pattern{
    background-color: $lightBlue;
    background-image: url("../images/patterns/bg-blue.png"); 
  }
  &--dark-blue-pattern{
    background-color: $darkBlue;
    background-image: url("../images/patterns/bg-dark.png");
  }
  &--grey-pattern{
    background-color: $lightGrey;
    background-image: url("../images/patterns/bg-grey.png");
  }
  &--warm-grey-pattern{
    background-color: $lightGrey;
    background-image: url("../images/patterns/bg-warm-grey.png");
  }
  &--green-pattern{
    background-color: $green;
    background-image: url("../images/patterns/bg-green.png");
  }
  &--gradient-pattern{
    background-color: $lightBlue;
    background-image: url("../images/patterns/bg-gradient.png"); 
  }
}
