$btn-arrow-white: '../images/btn-arrow-white.svg';
$btn-arrow-blue: '../images/btn-arrow-blue.svg';
$btn-arrow-right-white: '../images/btn-arrow-right-white.svg';
$btn-google-play: '../images/google-play-btn.svg';
$btn-app-store: '../images/app-store-btn.svg';
$btn-web-browser: '../images/use-app-in-browser-btn.svg';
%btn-defaults {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

%btn {
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
  padding: rem(16) rem(60);
  position: relative;
  transition: background 200ms linear;
  @media #{$xsmall} {
    padding: rem(16) rem(15);
  }
}

%btn-primary {
  overflow: visible;
  &:after {
    content: '';
    background-size: contain;
    bottom: rem(-29);
    width: rem(17);
    height: rem(27);
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(0);
    transition: transform 200ms ease-out;
  }
  &:hover,
  &:focus {
    &:after {
      transform: translateY(10px);
    }
    outline: none;
  }
}

%btn-continue {
  background-color: rgba(255, 155, 37, 1);
  background-image: url(#{$btn-arrow-right-white});
  background-size: rem(22) rem(22);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
  border-color: transparent;
  margin: 0 auto;
  padding: 0;
  height: rem(60);
  width: rem(60);
  &:hover,
  &:focus {
    background-color: rgba(255, 155, 37, 0.8);
    outline: none;
  }
}

.btn {
  @extend %btn-defaults;
  @extend %btn;
  &--primary {
    @extend %btn-primary;
  }
  &--continue {
    @extend %btn-continue;
  }
  &--white {
    border-color: $white;
    color: $white;
    &:after {
      background-image: url(#{$btn-arrow-white});
    }
    &:hover,
    &:focus {
      background-color: $white;
      color: $darkBlue;
      outline: none;
    }
  }
  &--white-no-arrow {
    border-color: $white;
    color: $white;
    &:hover,
    &:focus {
      background-color: $white;
      color: $darkBlue;
      outline: none;
    }
  }
  &--blue {
    border-color: $darkBlue;
    color: $darkBlue;
    &:after {
      background-image: url(#{$btn-arrow-blue});
    }
    &:hover,
    &:focus {
      background-color: $darkBlue;
      color: $white;
      outline: none;
    }
  }
  &--inline {
    display: inline-block;
  }
  &--orange {
    background: rgba(255, 155, 37, 1);
    border-color: $lightOrange;
    color: $white;
    &:hover,
    &:focus {
      background: rgba(255, 155, 37, 0.8);
    }
  }
  &--green {
    background: $green;
    border-color: transparent;
    color: $white;
    &:hover,
    &:focus {
      background: rgba(108, 183, 106, 1);
    }
  }
  small {
    font-size: rem(12);
    display: block;
  }
}

.download-app-btn {
  display: inline-block;
  width: 140px;
  height: 47px;
  text-indent: -9999em;
  margin-right: 10px;
  margin-top: 10px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  &--google-play {
    background-image: url(#{$btn-google-play});
  }
  &--app-store {
    background-image: url(#{$btn-app-store});
  }
  &--web-browser {
    width:293px;
    background-image: url(#{$btn-web-browser});
  }
}
