$btn-google-play: '../images/buttons/google-play-btn.svg';
$btn-app-store: '../images/buttons/app-store-btn.svg';
$btn-web-browser: '../images/buttons/use-app-in-browser-btn.svg';

%btn-defaults {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

%btn {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  display: block;
  font-size: rem(20);
  font-weight: 600;
  margin: 0 auto;
  padding: rem(10) rem(45);
  position: relative;
  transition: background 200ms linear;
  box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.25);


  &:focus,
  &:hover {
    outline: none;
  }
}

.btn {
  @extend %btn-defaults;
  @extend %btn;

  &--white {
    background: $white;
    border-color: $white;
    color: $darkOrange;

    &:focus,
    &:hover {
      border-color: darken( $white, 7% );
      background: darken( $white, 7% );
    }
  }

  &--white-ghost {
    border-color: $white;
    color: $white;

    &:focus,
    &:hover {
      background-color: rgba( $white, .2 );
      outline: none;
    }
  }

  &--blue {
    border-color: $darkBlue;
    color: $darkBlue;

    &:focus,
    &:hover {
      background-color: $darkBlue;
      color: $white;
      outline: none;
    }
  }

  &--inline {
    display: inline-block;
  }

  &--orange {
    background: $darkOrange;
    border-color: $darkOrange;
    color: $white;

    &:focus,
    &:hover {
      color: white;
      border-color: darken( $darkOrange, 7% );
      background: darken( $darkOrange, 7% );
    }
  }

  &--orange-ghost {
    border-color: $darkOrange;
    color: $darkOrange;

    &:focus,
    &:hover {
      background-color: rgba( $darkOrange, .1 );
    }
  }

  &--green {
    background: $green;
    border-color: transparent;
    color: $white;

    &:focus,
    &:hover {
      background: rgba(108, 183, 106, 1);
    }
  }

  &--link {
    border-color: transparent;
    color: $darkOrange;

    &:focus,
    &:hover {
      background-color: rgba( $white, .4 );
      outline: none;
    }
  }

  &--white-link {
    border-color: transparent;
    color: $white;

    &:focus,
    &:hover {
      background-color: rgba( $white, .4 );
      outline: none;
    }
  }

  small {
    font-size: rem(12);
    display: block;
  }
}

.download-app-btn {
  display: inline-block;
  width: 140px;
  height: 47px;
  text-indent: -9999em;
  margin-top: 10px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;

  &--google-play {
    background-image: url("#{$btn-google-play}");
    margin-right: 10px;
  }

  &--app-store {
    background-image: url("#{$btn-app-store}");
  }

  &--web-browser {
    width: 293px;
    background-image: url("#{$btn-web-browser}");
  }
}

.badgeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;

  @media #{$medium} {
    align-items: center;
  }

  .linkTextingInner {
    position: relative;
  }

  .linkTextingInput {
    border: 1px solid white;
    border-radius: 0;
    box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.15);
    width: 400px;
    height: 50px;
  }

  .linkTextingButton {
    position: absolute;
    right: 17px;
    top: 7px;

    &:hover {
      background-color: #E27A18;
    }
  }

}

.linkTextingWidgetWrapper {
  @media #{$xsmall} {
    display: none,
  }
}

.badgeRow {
  display: flex;
  width: 310px;

  img {
    width: 130px;
  }

  .badge-google-play {
    margin-right: -10px;
  }

  @media #{$medium} {
    justify-content: center;
  }
}