.faq-index {
  &--list {
    @include clearfix();
  }

  &--item {
    margin: rem(15);
  }

  &--link {
    padding: rem(25);
    min-height: 180px;
    width: 31%;
    margin: 1%;
    float: left;
    display: block;
    color: $darkBlue;
    border: 2px solid $darkBlue;
    text-align: center;
    transition: background 200ms linear;
    border-radius: 10px;
    @media #{$large} {
      width: 48%;
      margin: 1%;
    }
    @media #{$xsmall} {
      width: 100%;
      margin: rem(10) 0;
      min-height: auto;
    }

    &:hover {
      background: darken( $white, 5% );
    }
  }

  &--headline {
    &::after {

      content: "";
      display: block;
      width: 40px;
      height: 5px;
      border-radius: 1px;
      margin: rem(10) auto 0;
      background: $darkOrange;
    }
  }
}
