.full-screen-video {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;

    @media #{$medium} {
    	display: none;
    }
}

.full-screen-video-raster {
    display: none;
	background-image: url(/images/raster-white.png);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

    @media #{$medium} {
    	display: none;
    }	
}