.main-nav-wrapper {
  z-index: 100;
  // position: static;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 95%);
  opacity: 0;
  transition: background-color .3s cubic-bezier(.55, 0, .1, 1), opacity .3s cubic-bezier(.55, 0, .1, 1);
  &.is-loaded {
    opacity: 1;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .site-logo {
    transition: color .2s cubic-bezier(.55, 0, .1, 1);
    color: $white;
    text-decoration: none;
  }
  .site-logo:hover {
    color: $lightGrey;
  }
  .main-nav {
    height: 51px; // Need this so the menu dont collaps when no items are visible
  }
  .main-nav ul {
    margin: 0;
    padding: 0;
  }
  .main-nav ul li {
    margin: 0;
    padding: 5px 10px;
    > a {
      padding: 10px;
    }
    &.is-active a {
      border-bottom: 3px solid;
    }
  }
  .highlight-border {
    border-radius: 5px;
    border: 2px solid $white;
  }
  .main-nav a {
    text-decoration: none;
    color: $white;
    &.highlight {
      color: $darkOrange;
      &:hover {
        color: darken( $darkOrange, 20%);
      }
    }
    &:hover {
      color: $lightGrey;
    }
  }
  .okayNav__menu-toggle {
    position: relative;
    span {
      transition: background-color .2s cubic-bezier(.55, 0, .1, 1);
      background: $white;
    }
  }
  .okayNav__menu-toggle.icon--active span {
    background: $darkBlue;
  }
  .main-nav .okayNav__nav--invisible {
    a {
      color: $darkBlue;
      &:hover {
        color: $black;
      }
    }
    li.is-active {
      background: $lightGrey;
    }
    li.is-active a {
      border-bottom: none;
    }
  }
  .okay-invisible {
    display: none;
  }
}

// menu inverted
.main-nav-wrapper {
  &.is-inverted {
    background: $white;
    .site-logo {
      color: $darkBlue;
    }
    .main-nav a {
      color: $darkBlue;
    }
  }
}

@media #{$small} {
  .main-nav-wrapper {
    background: $white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-right: 10px;
    &:hover {
      background: $white;
    }
    &.is-inverted:hover {
      background: $white;
    }
    .site-logo {
      color: $darkBlue;
    }
    .main-nav ul li {
      padding: 5px;
      > a {
        padding: 8px;
      }
    }
    .main-nav a {
      color: $darkBlue;
      &.highlight-border {
        border-color: $darkBlue;
      }
      &:hover {
        color: darken( $darkBlue, 20%);
      }
      &.highlight {
        color: $darkOrange;
        &:hover {
          color: darken( $darkOrange, 20%);
        }
      }
    }
    .okayNav__nav--invisible a {
      background: transparent;
      &.highlight-border {
        border: none;
      }
    }
  }
  .main-nav-wrapper .okayNav__menu-toggle span {
    background: $darkBlue;
  }
}
