// clearfix

.clearfix {
  @include clearfix();
}

.display--none {
  display: none;
}

.display--inline {
  display: inline;
}

.display--block {
  display: block;
}

.display--inline-block {
  display: inline-block;
}
//Margins and padding
.center-content {
  //Need ONE child div in a container with height
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-v-content {
  //Need ONE child div in a container with height
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-h-content {
  margin-right: auto;
  margin-left: auto;
}

.margin-lg {
  margin: rem(100);
}

.margin-md {
  margin: rem(50);
}

.margin-sm {
  margin: rem(25);
}

.margin-xs {
  margin: rem(12.5);
}

.margin-v-xl {
  margin-top: rem(200);
  margin-bottom: rem(200);
}

.margin-v-lg {
  margin-top: rem(100);
  margin-bottom: rem(100);
}

.margin-v-md {
  margin-top: rem(50);
  margin-bottom: rem(50);
}

.margin-v-sm {
  margin-top: rem(25);
  margin-bottom: rem(25);
}

.margin-v-xs {
  margin-top: rem(12.5);
  margin-bottom: rem(12.5);
}

.margin-h-lg {
  margin-left: rem(100);
  margin-right: rem(100);
}

.margin-h-md {
  margin-left: rem(50);
  margin-right: rem(50);
}

.margin-h-sm {
  margin-left: rem(25);
  margin-right: rem(25);
}

.margin-h-xs {
  margin-left: rem(12.5);
  margin-right: rem(12.5);
}

.margin-top-lg {
  margin-top: rem(100);
}

.margin-top-md {
  margin-top: rem(50);
}

.margin-top-sm {
  margin-top: rem(25);
}

.margin-top-xs {
  margin-top: rem(12.5);
}

.margin-bottom-lg {
  margin-bottom: rem(100);
}

.margin-bottom-md {
  margin-bottom: rem(50);
}

.margin-bottom-sm {
  margin-bottom: rem(25);
}

.margin-bottom-xs {
  margin-bottom: rem(12.5);
}

.margin-left-lg {
  margin-left: rem(100);
}

.margin-left-md {
  margin-left: rem(50);
}

.margin-left-sm {
  margin-left: rem(25);
}

.margin-left-xs {
  margin-left: rem(12.5);
}

.margin-right-lg {
  margin-right: rem(100);
}

.margin-right-md {
  margin-right: rem(50);
}

.margin-right-sm {
  margin-right: rem(25);
}

.margin-right-xs {
  margin-top: rem(12.5);
}

.no-margin {
  margin: 0;
}

.no-v-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.no-h-margin {
  margin-left: 0;
  margin-right: 0;
}

.padding-lg {
  padding: rem(100);
}

.padding-md {
  padding: rem(50);
}

.padding-sm {
  padding: rem(25);
}

.padding-xs {
  padding: rem(15);
}

.padding-v-lg {
  padding-top: rem(100);
  padding-bottom: rem(100);
}

.padding-v-md {
  padding-top: rem(50);
  padding-bottom: rem(50);
}

.padding-v-sm {
  padding-top: rem(25);
  padding-bottom: rem(25);
}

.padding-h-lg {
  padding-left: rem(100);
  padding-right: rem(100);
}

.padding-h-md {
  padding-left: rem(50);
  padding-right: rem(50);
}

.padding-h-sm {
  padding-left: rem(25);
  padding-right: rem(25);
}

.padding-top-lg {
  margin-top: rem(100);
}

.padding-top-md {
  margin-top: rem(50);
}

.padding-top-sm {
  margin-top: rem(25);
}

.padding-top-xs {
  margin-top: rem(12.5);
}

.padding-bottom-lg {
  margin-bottom: rem(100);
}

.padding-bottom-md {
  margin-bottom: rem(50);
}

.padding-bottom-sm {
  margin-bottom: rem(25);
}

.padding-bottom-xs {
  margin-bottom: rem(12.5);
}

.padding-left-lg {
  margin-left: rem(100);
}

.padding-left-md {
  margin-left: rem(50);
}

.padding-left-sm {
  margin-left: rem(25);
}

.padding-left-xs {
  margin-left: rem(12.5);
}

.padding-right-lg {
  margin-right: rem(100);
}

.padding-right-md {
  margin-right: rem(50);
}

.padding-right-sm {
  margin-right: rem(25);
}

.padding-right-xs {
  margin-top: rem(12.5);
}

.no-padding {
  padding: 0;
}

.no-v-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.no-h-padding {
  padding-left: 0;
  padding-right: 0;
}

.text {
  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--white {
    color: $white;
  }

  &--orange {
    color: $darkOrange;
  }

  &--blue {
    color: $lightBlue;
  }

  &--darkblue {
    color: $darkBlue;
  }

  &--grey {
    color: $lightGrey;
  }

  &--dark-grey {
    color: $darkGrey;
  }

  &--warm-grey {
    color: $lightGrey;
  }

  &--green {
    color: $green;
  }

  &--red {
    color: $red;
  }

  &--bold {
    font-weight: 600;
  }

  &--regular {
    font-weight: 400;
  }
}

.reset-list {
  list-style: none outside none;

  li {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
// Responsive embeds
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .embed-responsive-item,
  embed,
  iframe,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.embed-responsive-21by9 {
  padding-bottom: percentage(9 / 21);
}

.embed-responsive-16by9 {
  padding-bottom: percentage(9 / 16);
}

.embed-responsive-4by3 {
  padding-bottom: percentage(3 / 4);
}

.embed-responsive-1by1 {
  padding-bottom: percentage(1 / 1);
}
// Image styles
.img--rounded {
  border-radius: 10px;
}

.img--circle {
  border-radius: 50%;
}

// Rounded corners
.rounded-corners-lg {
  border-radius: 20px;
}

.rounded-corners-md {
  border-radius: 10px;
}

.rounded-corners-sm {
  border-radius: 5px;
}

// responsive hide and show
.hidden-xs {
  @media #{ $xsmall } {
    display: none;
  }
}

.hidden-sm {
  @media #{ $small } {
    display: none;
  }
}

.hidden-md {
  @media #{ $medium } {
    display: none;
  }
}

.hidden-lg {
  @media #{ $large } {
    display: none;
  }
}

.hidden-xl {
  @media #{ $xlarge } {
    display: none;
  }
}

.visible-xs {
  @media #{ $xsmallMin } {
    display: none;
  }
}

.visible-sm {
  @media #{ $smallMin } {
    display: none;
  }
}

.visible-md {
  @media #{ $mediumMin } {
    display: none;
  }
}

.visible-lg {
  @media #{ $largeMin } {
    display: none;
  }
}

.visible-xl {
  @media #{ $xlargeMin } {
    display: none;
  }
}
