.promo-small {
  margin-top: rem(50);
  margin-bottom: rem(50);
  padding: 20px 0;
  text-align: center;

  @media #{$medium} {
    text-align: center;
  }

  &--image {
    margin-bottom: rem(15);
    min-height: 100px;
  }

  &--headline {
    font-size: rem(20);
    margin: 0 0 rem(15);
  }

  &--text {
    margin: 0;
  }
}

.promo-video-btn {
  display: block;
  width: 100%;
  box-shadow: 0px 20px 79px -20px rgba(0,0,0,0.75);
}

.promo-big {
  &--content {
    position: relative;
    @media #{$largeMin} {
      padding-top: rem(50);
    }
  }

  &--headline {
    @media #{$mediumMin} {
      padding-right: 200px;
    }
  }

  &--text {
    @media #{$mediumMin} {
      padding-right: 200px;
    }
  }

  &--image {
    width: 150px;
    position: absolute;
    right: 0;
    top: rem(75);
    @media #{$large} {
      top: rem(15);
    }
    @media #{$medium} {
      display: none;
    }
  }
}

.promo-box-wrapper {
  margin-top: 0;
  margin-bottom: 0;
}

.promo-box {
  background: $white;
  display: flex;
  position: relative;

  &--align-center {
    align-items: center;
  }

  &--md-height {
    min-height: 500px;
  }
  @media #{$medium} {
    flex-direction: column;
    margin-bottom: rem(30);
  }

  &__image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;

    &--right {
      right: 0;
    }
    @media #{$medium} {
      width: 100%;
      min-height: 400px;
      position: static;
      order: 1;
    }
    @media #{$xsmall} {
      min-height: 250px;
    }
  }

  &__text {
    background: $white;
    padding: rem(35) rem(60);
    text-align: left;
    width: 50%;
    @media #{$medium} {
      text-align: center;
      width: 100%;
      order: 2;
    }
    @media #{$small} {
      padding-left: rem(20);
      padding-right: rem(20);
      text-align: left;
    }

    &--right {
      margin-left: 50%;
      @media #{$medium} {
        margin-left: 0;
      }
    }

    &__headline {
      font-size: rem(40);
    }

    &__paragraph {
      margin-bottom: rem(35);
    }

    &__blockquote {
      font-size: rem(22);
      font-style: italic;
      margin-bottom: rem(20);
    }

    &__sec-headline {
      font-weight: 600;
      margin-bottom: rem(20);
    }

    &__list {
      @media #{$medium} {
        list-style: none;
      }

      li {
        font-size: rem(20);
        margin-bottom: rem(15);
        margin-left: 1.5em;
        @media #{$medium} {
          margin-left: 0;
        }
      }
    }
  }
}

.new-promo {
  display: flex;
  position: relative;
  flex-direction: row;
  margin: 80px 25px;
  justify-content: center;
  align-items: center;

  @media #{$medium} {
    flex-direction: column;
    margin: 0;
  }
  .image {
    width: 55%;

    @media #{$medium} {
      width: 100%;
    }
  }

  &:nth-child(even) {
    .text {
      width: 55%;
      margin-right: -10%;
      z-index: 100;

      @media #{$medium} {
        order: 1;
        width: 90%;
        margin: -50px 0 0;
        font-size: 20px;
        z-index: 100;
      }
    }
  }

  &:nth-child(odd) {
    .text {
      order: 1;
      width: 55%;
      margin-left: -10%;
      z-index: 100;

      @media #{$medium} {
        order: 1;
        width: 90%;
        margin: -50px 0;
        z-index: 100;
      }
    }
  }

  .text {
    padding: 40px;
    box-shadow: 0px 0px 64px 0px rgba(0,0,0,0.2);
    background-color: white;

    @media #{$medium} {
      padding: 20px;

      h2 {
        font-size: rem(25);
      }
    }
  }


}