.register-form-overlay {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: scroll;
  @media #{$xsmall} {
    -webkit-overflow-scrolling: touch;
  }
  &.show {
    display: block;
  }
}

.register-form-wrapper {
    background-color: $white;
    padding: rem(60) rem(40) rem(35) rem(40);
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    @media #{$xsmall} {
      top: 0;
      transform: none;
    }
  }
  .register-form-header {
    padding: 0 rem(15);
    margin-bottom: rem(25);
  }
  .register-form-row {
    margin-bottom: rem(25);
    @media #{$xsmall} {
      margin-bottom: 0;
    }
  }
  .register-form-col {
    @media #{$xsmall} {
      margin-bottom: rem(25);
    }
  }
  .register-form-submit-wrapper {
    padding: 0 rem(15);
    margin-top: rem(40);
  }

.yep-register-form-modal {
  .register-form-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .register-form-close-modal {
    border: 0;
    background: transparent url(../images/ic-close.svg) no-repeat;
    background-size: contain;
    height: rem(27);
    width: rem(27);
    position: absolute;
    top: rem(35);
    right: rem(35);
  }
}
