.scroll-icon {
  display: block;
  width: 31px;
  height: 94px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -15px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/scroll-icon.svg');
  cursor: pointer;
  @media #{$xsmall} {
    display: none;
  }
}
