.background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // Helpers (add more as we need them)
  &--pos-left {
    background-position: center left;
  }

  &--pos-right {
    background-position: center right;
  }

  &--pos-top {
    background-position: center top;
  }

  &--pos-bottom {
    background-position: center bottom;
  }
  // backgrounds
  &--white {
    background-color: $white;
  }

  &--orange {
    background-color: $darkOrange;
  }

  &--blue {
    background-color: $lightBlue;
  }

  &--darkblue {
    background-color: $darkBlue;
  }

  &--grey {
    background-color: $lightGrey;
  }

  &--dark-grey {
    background-color: $darkGrey;
  }

  &--lightest-grey {
    background-color: $lightestGrey;
  }

  &--warm-grey {
    background-color: $lightGrey;
  }

  &--green {
    background-color: $green;
  }

  &--orange-pattern {
    background-color: $darkOrange;
    background-image: url("../images/backgrounds/patterns/bg-yellow.png");
  }

  &--blue-pattern {
    background-color: $lightBlue;
    background-image: url("../images/backgrounds/patterns/bg-blue.png");
  }

  &--dark-blue-pattern {
    background-color: $darkBlue;
    background-image: url("../images/backgrounds/patterns/bg-dark.png");
  }

  &--grey-pattern {
    background-color: $lightGrey;
    background-image: url("../images/backgrounds/patterns/bg-grey.png");
  }

  &--warm-grey-pattern {
    background-color: $lightGrey;
    background-image: url("../images/backgrounds/patterns/bg-warm-grey.png");
  }

  &--green-pattern {
    background-color: $green;
    background-image: url("../images/backgrounds/patterns/bg-green.png");
  }

  &--gradient-pattern {
    background-color: $lightBlue;
    background-image: url("../images/backgrounds/patterns/bg-gradient.png");
  }

  &--summer-job {
    background-color: $darkBlue;
    background-image: url("../images/hero/summer-job.jpg");
  }

  &--customer-hero {
    background-color: $darkBlue;
    background-image: url("../images/hero/customer-hero.jpg");
  }

  &--yep-hero {
    background-color: $darkBlue;
    background-image: url("../images/hero/yep-hero.jpg");
  }
}
