$btn-google-play: '../images/buttons/google-play-btn.svg';
$btn-app-store: '../images/buttons/app-store-btn.svg';
$btn-web-browser: '../images/buttons/use-app-in-browser-btn.svg';

%btn-defaults {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

%btn {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  display: block;
  font-size: rem(20);
  font-weight: 600;
  margin: 0 auto;
  padding: rem(15) rem(30);
  position: relative;
  transition: background 200ms linear;

  &:focus,
  &:hover {
    outline: none;
  }
}

.btn {
  @extend %btn-defaults;
  @extend %btn;

  &--white {
    border-color: $white;
    color: $white;

    &:focus,
    &:hover {
      background-color: $white;
      color: $darkBlue;
      outline: none;
    }
  }

  &--blue {
    border-color: $darkBlue;
    color: $darkBlue;

    &:focus,
    &:hover {
      background-color: $darkBlue;
      color: $white;
      outline: none;
    }
  }

  &--inline {
    display: inline-block;
  }

  &--orange {
    background: $darkOrange;
    border-color: $darkOrange;
    color: $white;

    &:focus,
    &:hover {
      background: darken( $darkOrange, 10% );
    }
  }

  &--orange-ghost {
    border-color: $darkOrange;
    color: $darkOrange;

    &:focus,
    &:hover {
      background-color: rgba( $darkOrange, .1 );
    }
  }

  &--green {
    background: $green;
    border-color: transparent;
    color: $white;

    &:focus,
    &:hover {
      background: rgba(108, 183, 106, 1);
    }
  }

  &--white-link {
    border-color: transparent;
    color: $white;

    &:focus,
    &:hover {
      background-color: rgba( $white, .1 );
      outline: none;
    }
  }

  small {
    font-size: rem(12);
    display: block;
  }
}

.download-app-btn {
  display: inline-block;
  width: 140px;
  height: 47px;
  text-indent: -9999em;
  margin-top: 10px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;

  &--google-play {
    background-image: url("#{$btn-google-play}");
    margin-right: 10px;
  }

  &--app-store {
    background-image: url("#{$btn-app-store}");
  }

  &--web-browser {
    width: 293px;
    background-image: url("#{$btn-web-browser}");
  }
}
