.main-footer {
  background-color: $darkBlue;
  .link-collection {
    margin-top: 5px;
    li {
      font-size: 1.4rem;
      display: inline-block;
      padding: 10px 30px 10px 0;
      a {
        color: $white;
      }
    }
  }
  .download-app-btn {
    margin-right: 0;
    margin-left: 10px;
  }
  hr {
    margin: 0 auto;
    max-width: 1380px;
    border-top-color: #60606E;
  }
  .inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
    padding: 60px 30px 10px;
  }
  .left {
    display: flex;
    justify-content: space-between;
  }
  .site-logo {
    text-decoration: none;
    color: $white;
    font-size: 56px;
    line-height: 1;
    margin-right: 20px;
    position: relative;
    top: -10px;
  }
  .footer-copy {
    color: $white;
    max-width: 300px;
    font-size: 14px;
    margin-right: 20px;
  }
  .social-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li a {
      text-indent: -9999em;
      display: inline-block;
      width: 44px;
      height: 44px;
      margin-right: 20px;
      background-repeat: no-repeat;
      background-position: top left;
      background-size: cover;
      &.facebook {
        background-image: url('../images/social/monokrom/facebook.svg');
      }
      &.twitter {
        background-image: url('../images/social/monokrom/twitter.svg');
      }
      &.instagram {
        background-image: url('../images/social/monokrom/instagram.svg');
      }
      &.mail {
        background-image: url('../images/social/monokrom/mail.svg');
      }
      &.phone {
        background-color: #fff;
        background-image: url('../images/phone.svg');
        background-repeat: no-repeat;
        background-position: 10px;
        background-size: 26px;
        width: auto;
        text-indent: 0;
        line-height: 44px;
        font-size: 16px;
        color: $darkBlue;
        padding: 0 10px 0 40px;
        border-radius: 22px;
      }
    }
  }
  .footer-org {
    margin: 0 auto;
    max-width: 1440px;
    padding: 10px 30px 30px;
    color: #60606E;
    font-size: 14px;
  }
}

@media #{$medium} {
  .main-footer {
    .link-collection {
      margin-top: 5px;
      li {
        display: block;
        padding: 10px 0;
      }
    }
    .download-app-btn {
      margin-right: 10px;
      margin-left: 0;
    }
    hr {
      margin: 0 30px;
    }
    .left {
      display: block;
    }
    .social-links {
      li a {
        margin-top: 20px;
      }
    }
  }
}

@media #{$small} {
  .main-footer {
    .inner {
      display: block;
    }
    .right {
      margin-top: 40px;
    }
  }
}
