.scroll-to-nav{
  max-width: 800px;
  margin:0 auto;
  padding: rem(30) rem(15) rem(60);
  display: none;
  &.is-loaded{
    display: block;
  }
  .scroll-to-nav-list{
    list-style: none;
  }
  .scroll-to-nav-item{
    margin-left: 0;
    margin-right: 0;
    font-weight: 600;
    cursor: pointer;
  }
}