.step-box-wrapper {
  display: flex;
  @media #{ $medium } {
    flex-direction: column;
  }
}

.step-box {
  flex-grow: 1;
  flex-basis: 0;
  color: $white;
  text-align: center;
  &__inner {
    padding: rem(200) rem(30);
    @media #{ $large } {
      padding: rem(100) rem(30);
    }
  }
  &__ball {
    display: inline-block;
    max-width: 100%;
    background: $white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-weight: 600;
    font-size: rem(56);
  }
  &__title {
    margin: 0;
    padding: rem(30) 0 rem(15);
  }
  &__text {
    margin: 0;
    padding: 0;
    font-size: rem(24);
    a{
      color: $white;
      font-weight: 400;
      border-bottom: 1px solid $white;
    }
  }
}
