  <footer class="main-footer">
    <div class="inner">
      <div class="left">
        <a class="site-logo" href="/">yepstr</a>
        <p class="footer-copy">Yepstr är en app-baserad marknadsplats där hushåll kan få hjälp av ambitiösa ungdomar!</p>
        <ul class="social-links">
          <li><a href="https://www.facebook.com/yepstr" class="facebook">Facebook</a></li>
          <li><a href="https://twitter.com/yepstr" class="twitter">Twitter</a></li>
          <li><a href="https://www.instagram.com/yepstr/" class="instagram">Instagram</a></li>
          <li><a href="mailto:hej@yepstr.com" class="mail">Mail</a></li>
        </ul>
      </div>
      <div class="right">
        <a href="https://mixpanel.com/f/partner" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" /></a>
      </div>
    </div>
  </footer>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
  (function(b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l;
    b[l] || (b[l] =
      function() {
        (b[l].q = b[l].q || []).push(arguments)
      });
    b[l].l = +new Date;
    e = o.createElement(i);
    r = o.getElementsByTagName(i)[0];
    e.src = '//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r)
  }(window, document, 'script', 'ga'));
  ga('create', 'UA-70032747-1', 'auto');
  ga('send', 'pageview');
  </script>
  <script src="js/build.js"></script>
</body>

</html>