<header class="main-nav-wrapper js-main-nav-wrapper">
  <a class="site-logo" href="index.html">yepstr</a>
  <nav role="navigation" class="js-nav-main okayNav main-nav" data-active-page="@@active-page">
    <ul>
      <li data-active-key="ladda-ner-appen"><a href="ladda-ner-appen.html">Kom igång!</a></li>
      <li data-active-key="sa-funkar-det"><a href="sa-funkar-det.html">Så funkar det</a></li>
      <li data-active-key="vanliga-fragor"><a href="vanliga-fragor.html">Vanliga frågor</a></li>
      <li data-active-key="press"><a href="press.html">Press</a></li>
      <li data-active-key="blog"><a href="http://yepstr.com/blog" target="_blank">Blogg</a></li>
      <li data-active-key="sommarjobb"><a href="sommarjobb.html">Sommarjobba!</a></li>
      <li data-active-key="signin"><a class="highlight" href="https://app.yepstr.com/signin" target="_blank">Logga in</a></li>
    </ul>
  </nav>
</header>
