<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8" />
  <title>Yepstr</title>
  <!-- mobile meta (hooray!) -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="title" content="yepstr">
  <meta name="description" content="yepstr är här för att ge dig mer fritid, samtidigt som du hjälper ungdomar in i arbetslivet">
  <meta name="keywords" content="barnpassning, hundpassning, gräsklippning, billig hemhjälp, extrajobb, tonårsjobb, sommarjobb, extraknäck, fönsterputs, fönstertvätt, yepstr, yeppster, jeppster, jepster, yepster, jeppstr">
  <meta property="og:title" content="" />
  <meta property="og:site_name" content="" />
  <meta property="og:description" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:image:type" content="" />
  <meta property="og:type" content="" />
  <!-- Our Styles -->
  <link rel="stylesheet" href="css/styles.css" />
  <!-- Icons & Favicons (for more: http://www.jonathantneal.com/blog/understand-the-favicon/) -->
  <!-- Apple touch icon (for more: http://mathiasbynens.be/notes/touch-icons) -->
  <link rel="apple-touch-icon-precomposed" href="">
  <!-- Safari, Chrome, Firefox, Opera -->
  <link rel="icon" href="favicon.png">
  <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
  <!-- or, set /favicon.ico for IE10 win -->
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="">
  <script src="js/oldbrowser.js" /></script>
</head>

<body>