<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8" />
  <title>@@title - Yepstr</title>
  <!-- mobile meta (hooray!) -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="google-site-verification" content="i4OjwUPWD7mUyPaeMLEWo7xFVUTdqLRav5Hj8diBAsU" />
  <meta name="title" content="@@title - Yepstr">
  <meta name="description" content="Yepstr är här för att ge dig mer fritid, samtidigt som du hjälper ungdomar in i arbetslivet">
  <meta name="keywords" content="barnpassning, hundpassning, gräsklippning, billig hemhjälp, extrajobb, tonårsjobb, sommarjobb, extraknäck, fönsterputs, fönstertvätt, yepstr, yeppster, jeppster, jepster, yepster, jeppstr">
  <meta property="og:title" content="Yepstr - @@title" />
  <meta property="og:site_name" content="Yepstr" />
  <meta property="og:description" content="På Yepstr kan hushåll få kontakt med ambitiösa ungdomar i närområdet för enklare uppdrag (gräsklippning, hundpassning etc.). Genom att använda Yepstr är du med och bygger ungdomarnas första riktiga CV. Praktisk erfarenhet utanför skolan leder ofta till det där första sommarjobbet, vilket leder till större chans att få praktik under universitetsstudierna vilket ökar chansen att få det där första riktiga jobbet." />
  <meta property="og:url" content="http://yepstr.com" />
  <meta property="og:image" content="http://yepstr.com/images/fb-image.png" />
  <meta property="og:type" content="website" />
  <!-- Our Styles -->
  <link rel="stylesheet" href="css/styles.css" />
  <!-- Icons & Favicons (for more: http://www.jonathantneal.com/blog/understand-the-favicon/) -->
  <!-- Apple touch icon (for more: http://mathiasbynens.be/notes/touch-icons) -->
  <link rel="apple-touch-icon-precomposed" href="">
  <!-- Safari, Chrome, Firefox, Opera -->
  <link rel="icon" href="favicon.png">
  <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
  <!-- or, set /favicon.ico for IE10 win -->
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="">
  <script src="js/oldbrowser.js" /></script>
</head>

<body>