@font-face {
  font-family: 'Glober';
  src: url('../fonts/glober/Glober_Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/glober/Glober_Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/glober/Glober_Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/glober/Glober_Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/glober/Glober_Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/glober/Glober_Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 400;
}

@font-face {
  font-family: 'Glober';
  src: url('../fonts/glober/Glober_xBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/glober/Glober_xBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/glober/Glober_xBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/glober/Glober_xBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/glober/Glober_xBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/glober/Glober_xBold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: 600;
}