.section.yep-register-page {
    background-image: url('/images/bg-grey.png');
    padding-bottom: 0;
    @media #{$xsmall} {
        overflow:auto;
    }
}

.yep-register-page {
    .register-form-wrapper {
        top: auto;
        padding: 0 rem(40) rem(20) rem(40);
        @media #{$xsmall} {
            top: 0;
        }
    }
    .register-form {
        transition: opacity 400ms;
        &.hide {
            opacity: 0;
        }
    }
    .success-msg {
        position: relative;
        top: -170px;
        font-size: 28px;
        color: $darkOrange;
        font-weight: 600;
    }
}

.yep-register-page-logo {
    color: #fff;
    font-size: 32px;
    line-height: 1;
    margin: 0 rem(-55) rem(45);
    padding: rem(20) 0;
    background-image: url('/images/bg-yellow.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
