@@include('./shared/_head.html', { "title": "Press" })
<div class="pattern-header background background--orange-pattern">
  @@include('./shared/_header.html', { "active-page": "press" })
  <div class="text-wrapper">
    @@include(markdown('./markdown/header-press.markdown'))
  </div>
</div>
<section id="details" class="section section--faq nice-type">
  @@include(markdown('./markdown/press.markdown'))
  <br />
  <div class="image-grid image-grid--2-col">
    <a class="image" href="images/press/Yepstr_press_why.png">
      <figure>
        <img src="images/press/Yepstr_press_why.png" alt="Varför behövs Yepstr">
        <figcaption>
          <p>Varför Yepstr behövs</p>
        </figcaption>
      </figure>
    </a>
    <a class="image" href="images/press/Yepstr_press_how_it_works.png">
      <figure>
        <img src="images/press/Yepstr_press_how_it_works.png" alt="Hur Yepstr fungerar">
        <figcaption>
          <p>Hur Yepstr fungerar</p>
        </figcaption>
      </figure>
    </a>
  </div>
  <div class="image-grid image-grid--1-col image-grid--grayscale-filter">
    <a class="image" href="images/press/team-photos/yepstr-team-photo.jpg">
      <figure>
        <img src="images/press/team-photos/yepstr-team-photo.jpg" alt="Yepstr team bild">
        <figcaption>
          <p>Team Yepstr</p>
        </figcaption>
      </figure>
    </a>
  </div>
  <div class="image-grid image-grid--3-col image-grid--grayscale-filter">
    <a class="image" href="images/press/team-photos/yepstr-team-1.jpg">
      <figure>
        <img src="images/press/team-photos/yepstr-team-1.jpg" alt="Jacob Rydbäck">
        <figcaption>
          <p>Jacob Rudbäck, CEO</p>
        </figcaption>
      </figure>
    </a>
    <a class="image" href="images/press/team-photos/yepstr-team-4.jpg">
      <figure>
        <img src="images/press/team-photos/yepstr-team-4.jpg" alt="Filip Gruvstad">
        <figcaption>
          <p>Filip Gruvstad, CTO</p>
        </figcaption>
      </figure>
    </a>
    <a class="image" href="images/press/team-photos/yepstr-team-3.jpg">
      <figure>
        <img src="images/press/team-photos/yepstr-team-3.jpg" alt="Gustav Ahlberg">
        <figcaption>
          <p>Gustav Ahlberg, Dev</p>
        </figcaption>
      </figure>
    </a>
    <a class="image" href="images/press/team-photos/yepstr-team-5.jpg">
      <figure>
        <img src="images/press/team-photos/yepstr-team-5.jpg" alt="Karl Löfholm">
        <figcaption>
          <p>Karl Löfholm, Design</p>
        </figcaption>
      </figure>
    </a>
    <a class="image" href="images/press/team-photos/yepstr-team-7.jpg">
      <figure>
        <img src="images/press/team-photos/yepstr-team-7.jpg" alt="Jimmy Hagelfors">
        <figcaption>
          <p>Jimmy Hagelfors, Marketing</p>
        </figcaption>
      </figure>
    </a>
    <a class="image" href="images/press/team-photos/yepstr-team-8.jpg">
      <figure>
        <img src="images/press/team-photos/yepstr-team-8.jpg" alt="Sofie von Krusenstierna">
        <figcaption>
          <p>Sofie von Krusenstierna, CM</p>
        </figcaption>
      </figure>
    </a>
    <a class="image" href="images/press/team-photos/yepstr-team-6.jpg">
      <figure>
        <img src="images/press/team-photos/yepstr-team-9.jpg" alt="Anton Lejon">
        <figcaption>
          <p>Abenezer Abebe, Analytics</p>
        </figcaption>
      </figure>
    </a>
    <a class="image" href="images/press/team-photos/yepstr-team-6.jpg">
      <figure>
        <img src="images/press/team-photos/yepstr-team-6.jpg" alt="Anton Lejon">
        <figcaption>
          <p>Anton Lejon, Dev</p>
        </figcaption>
      </figure>
    </a>
  </div>
  <h3>Yepstrs ambassadörer</h3>
  <div class="image-grid image-grid--3-col image-grid--grayscale-filter">
    <a class="image" href="images/press//team-photos/yepstr-ambassadeur-tea.jpg">
      <figure>
        <img src="images/press//team-photos/yepstr-ambassadeur-tea.jpg" alt="Tea">
        <figcaption>
          <p>Tea Stjärne, Stockholm</p>
        </figcaption>
      </figure>
    </a>
    <a class="image" href="images/press//team-photos/yepstr-ambassadeur-philip.jpg">
      <figure>
        <img src="images/press//team-photos/yepstr-ambassadeur-philip.jpg" alt="Philip">
        <figcaption>
          <p>Philip Bolinder, Lidingö</p>
        </figcaption>
      </figure>
    </a>
  </div>
</section>
<hr/>
<section id="how-it-works" class="section section--cta">
  <div class="inner margin-v-lg">
    <p>Här finns allt vårt pressmaterial samlat i en zip-fil</p>
    <div class="button-case">
      <a class="btn btn--orange btn--inline ga-outbound-link" href="https://www.dropbox.com/sh/xhajyso81z4hvz8/AACcUaY9c_AYgNYZqBR5u_d6a?dl=0">Ladda ner presskit</a>
    </div>
  </div>
</section>
@@include('./shared/_footer.html')
