<section class="section section--in-the-media background background--map-pattern background--pos-top margin-v-lg">
  <div class="container container--no-grid ">
    <ul class="logo-list reset-list margin-v-sm">
      <li class="logo-list__item">
        <a class="ga-outbound-link" href="http://www.ehandel.se/Fran-grasklippning-i-tonaren-till-app-for-ungdomsjobb,8074.html"><img src="images/media-logos/logo-ehandel_se.png"></a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" href="http://digital.di.se/artikel/miljardar-mentor-gar-in-i-smajobbsapp"><img src="images/media-logos/logo-di_digital.png"></a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" href="http://www.breakit.se/artikel/3804/stena-chefen-dan-sten-olsson-gar-in-i-bemmaningsappen-yepstr"><img src="images/media-logos/logo-breakit.png"></a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" href="http://www.dagensanalys.se/2016/06/yepstr-satsar-pa-att-bli-virala/"><img src="images/media-logos/logo-dagensanalys.png"></a>
      </li>
    </ul>
  </div>
</section>
