<section id="in-the-media" class="section section--in-the-media background background--map-pattern background--pos-top">
  <div class="inner margin-v-lg">
    <h1>Yepstr i media</h1>
    <p>Se vad som skrivs om oss!</p>
    <ul class="logo-list reset-list margin-v-sm">
      <li class="logo-list__item">
        <a class="ga-outbound-link" href="http://www.ehandel.se/Fran-grasklippning-i-tonaren-till-app-for-ungdomsjobb,8074.html"><img src="images/media-logos/logo-ehandel_se.png"></a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" href="http://digital.di.se/artikel/miljardar-mentor-gar-in-i-smajobbsapp"><img src="images/media-logos/logo-di_digital.png"></a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" href="http://www.breakit.se/artikel/3804/stena-chefen-dan-sten-olsson-gar-in-i-bemmaningsappen-yepstr"><img src="images/media-logos/logo-breakit.png"></a>
      </li>
      <li class="logo-list__item">
        <a class="ga-outbound-link" href="http://www.dagensanalys.se/2016/06/yepstr-satsar-pa-att-bli-virala/"><img src="images/media-logos/logo-dagensanalys.png"></a>
      </li>
    </ul>
    <div class="podcast-splash margin-v-md background background--white">
      <div class="podcast-splash__image">
        <img src="images/media-logos/logo-thestkhlmer.png">
      </div>
      <div class="podcast-splash__text">
        <p>Vår grundare Jacob var nyligen med i Maddy Savages podcast <strong>The Stockholmer</strong> och pratade om vår vision att hjälpa lokala områden komma närmare och bilda community. <a class="ga-outbound-link" href="https://www.acast.com/thestockholmer/theentrepreneurbringingbacktheneighbourhoodkid">Lyssna på podden via Acast</a></p>
      </div>
    </div>
  </div>
</section>
