<div class="section--intro-header section--intro-header--full background background--customer-hero background--pos-left">
  <div class="text-wrapper text-wrapper--lg text--white">
    <div class="">
      <h1 class="intro-header--headline">Hur kan våra Yeppar hjälpa dig?</h1>
      <h2 class="intro-header--sub-headline">Vi har över 1.000 drivna ungdomar som vill hjälpa sina grannar!</h2>
    </div>
    <div class="margin-v-sm">
      <a class="btn btn--primary btn--orange btn--inline js-scroll-to-section ga-scroll-to-link" data-target="download-app">Kom igång!</a>
    </div>
  </div>
  <div class="js-scroll-to-section ga-scroll-to-link" data-target="download-app"><img class="intro-splash-image" src="images/graphics/app-splash.png"></div>
</div>
