<div class="section">
  <div class="container container--no-grid">
    <nav role="navigation">
      <ul class="task-list reset-list margin-v-sm">
        <li class="task-list__item task-list__item--babysitting">Barnpassning</li>
        <li class="task-list__item task-list__item--event-helper">Eventhjälp</li>
        <li class="task-list__item task-list__item--dog-walking">Hundpassning</li>
        <li class="task-list__item task-list__item--gardening">Trädgård</li>
        <li class="task-list__item task-list__item--household">Hushåll</li>
        <li class="task-list__item task-list__item--misc">Övrigt</li>
      </ul>
    </nav>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col col--12" style="background:#ccc;">
        Col 12
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <div class="col col--6" style="background:#ccc;">
        Col 6
      </div>
      <div class="col col--6" style="background:#ccc;">
        Col 6
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col col--6 col--lg-12" style="background:#ccc;">
        Col 6
      </div>
      <div class="col col--6 col--lg-12" style="background:#ccc;">
        <div class="row">
          <div class="col col--4 col--sm-12" style="background:#eee;">
            Col 4
          </div>
          <div class="col col--4 col--sm-12" style="background:#eee;">
            Col 4
          </div>
          <div class="col col--4 col--sm-12" style="background:#eee;">
            Col 4
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
