<section class="section section--task-nav margin-v-md">
  <div class="container container--no-grid container--md">
    <nav role="navigation">
      <ul class="task-list reset-list">
        <li class="task-list__item"><a class="task-list__link task-list__link--general is-active" href="#">Hur går det till?</a></li>
        <li class="task-list__item"><a class="task-list__link task-list__link--babysitting" href="#">Barnpassning</a></li>
        <li class="task-list__item"><a class="task-list__link task-list__link--event-helper" href="#">Eventhjälp</a></li>
        <li class="task-list__item"><a class="task-list__link task-list__link--dog-walking" href="#">Hundpassning</a></li>
        <li class="task-list__item"><a class="task-list__link task-list__link--gardening" href="#">Trädgård</a></li>
        <li class="task-list__item"><a class="task-list__link task-list__link--household" href="#">Hushåll</a></li>
        <li class="task-list__item"><a class="task-list__link task-list__link--misc" href="#">Övrigt</a></li>
      </ul>
    </nav>
  </div>
</section>
