<section class="section margin-v-lg">
  <div class="container">
    <div class="row">
      <div class="col col--4 col--md-12">
        <div class="testimonial testimonial--customer">
          <div class="testimonial--bubble padding-sm center-content">
            <div>
              "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur."
            </div>
          </div>
          <div class="testimonial--image"><img class="img--circle" src="http://placehold.it/200x200" alt="" width="200" height="200"></div>
          <h2 class="testimonial--text">Sara Abbevik fick klart sin altan</h2>
        </div>
      </div>
      <div class="col col--4 col--md-12">
        <div class="testimonial testimonial--customer">
          <div class="testimonial--bubble padding-sm center-content">
            <div>
              "Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus."
            </div>
          </div>
          <div class="testimonial--image"><img class="img--circle" src="http://placehold.it/200x200" alt="" width="200" height="200"></div>
          <h2 class="testimonial--text">Madeleine Rudefors fick trädgården fixad</h2>
        </div>
      </div>
      <div class="col col--4 col--md-12">
        <div class="testimonial testimonial--yep">
          <div class="testimonial--bubble padding-sm center-content">
            <div>
              "Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
            </div>
          </div>
          <div class="testimonial--image"><img class="img--circle" src="http://placehold.it/200x200" alt="" width="200" height="200"></div>
          <h2 class="testimonial--text">Möt Emil en av våra Yeppar</h2>
        </div>
      </div>
    </div>
  </div>
</section>
