<header class="main-header-wrapper">
  <a class="site-logo" href="{{ base_url }}">yepstr</a>
  <nav role="navigation" class="main-header-nav main-nav">
    <ul class="clearfix">
      <li class="highlight-border">
        <a href="{{ base_url }}/ungdomar/jag-vill-jobba">Jag vill jobba</a>
        <div class="highlight-msg">Du kan tj채na
          <strong>367 kr</strong>
          p책 bara 2 timmar arbete!
        </div>
      </li>
      <li>
        <a href="{{ base_url }}/uppdragsgivare/sa-funkar-det">S책 funkar det</a>
      </li>
      <li>
        <a href="{{ base_url }}/foretaget/vanliga-fragor">Vanliga fr책gor</a>
      </li>
    </ul>
  </nav>
  <nav role="navigation" class="main-header-nav support-nav">
    <ul class="clearfix">
      <li class="highlight">
        <a href="https://app.yepstr.com/userRoleCrossroads" target="_blank">Skapa konto</a>
      </li>
      <li>
        <a href="https://app.yepstr.com/signin" target="_blank">Logga in</a>
      </li>
    </ul>
  </nav>
</header>

<!--
<nav class="page-nav">
  <ul class="reset-list page-nav--list">
    <li class="page-nav--item">
      <a href="#">Till toppen av sidan</a>
    </li>
    <li class="page-nav--item">
      <a href="#">Till menyn</a>
    </li>
  </ul>
</nav>
-->
