<header class="main-header-wrapper {% if negativeHeader %}main-header-wrapper--negative{% endif %}">
  <a class="site-logo" href="/">yepstr</a>
  <nav role="navigation" class="main-header-nav main-nav">
    <ul class="clearfix">
      <li class="highlight-border">
        <a href="{{ base_url }}/ungdomar/jag-vill-jobba">Jag vill jobba</a>
        <div class="highlight-msg">Du kan tjäna
          <strong>över 1000 kr</strong>
          i veckan på bara 2 uppdrag!
        </div>
      </li>
      <li>
        <a href="{{ base_url }}/bestallare/sa-funkar-det">Så funkar det</a>
      </li>
      <li>
        <a href="{{ base_url }}/foretaget/vanliga-fragor">Vanliga frågor</a>
      </li>
    </ul>
  </nav>
  <nav role="navigation" class="main-header-nav support-nav">
    <ul class="clearfix">
      <li>
        <a href="https://app.yepstr.com/userRoleCrossroads">Skapa konto</a>
      </li>
      <li>
        <a href="https://app.yepstr.com/signin">Logga in</a>
      </li>
    </ul>
  </nav>
</header>
