<section class="section section--two-col-promo margin-v-lg">
  <div class="container container--xl container--no-grid">
    <div class="section--two-col-promo--wrapper">
      <div class="promo-col promo-col--left background background--green">
        <div class="promo-col--content text--white padding-md">
          <h2 class="promo-col--headline">Kostnaden för en Yep är 75-110 kr/timme</h2>
          <div class="promo-col--text nice-type">
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt.</p>
          </div>
        </div>
      </div>
      <div class="promo-col promo-col--right background background--warm-grey">
        <div class="promo-col--content padding-md">
          <h2 class="promo-col--headline">Säkerhet & försäkring</h2>
          <div class="promo-col--text nice-type">
            <ol>
              <li>När ungdomar registrerar sig på Yepstr behöver de uppge målsmans email och de får även mail om vunna uppdrag.</li>
              <li>När ungdomar utför uppdrag via Yepstr är alltid arbetet försäkrat genom IF, för att vi litar på att ungdomar gör ett bra jobb och är seriösa.</li>
              <li>Om jobbet påbörjas och du som Uppdragsgivare eller Ungdom känner att allt inte stämmer så kan</li>
            </ol>
          </div>
          <div class="promo-col--image">
            <img src="images/graphics/promo-if-iphone.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
