<section class="section margin-v-lg">
  <div class="container container--no-grid container--lg margin-v-sm">
    <h2 class="section-headline text--center">Om mitt område inte är öppet, vad gör jag?</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col col--4 col--md-12">
        <div class="margin-sm hidden-md">
          <img src="http://placehold.it/600x600" alt="">
        </div>
      </div>
      <div class="col col--8 col--md-12">
        <div class="row">
          <div class="col col--4 col--sm-12 margin-v-sm">
            <div class="promo-small">
              <div class="promo-small--image"><img src="http://placehold.it/100x100" alt="" width="100" height="100"></div>
              <h2 class="promo-small--headline">Registrera dig & posta uppdrag</h2>
              <p class="promo-small--text">Finns både för iOS och Android, helt gratis att ladda ner. </p>
            </div>
          </div>
          <div class="col col--4 col--sm-12 margin-v-sm">
            <div class="promo-small">
              <div class="promo-small--image"><img src="http://placehold.it/100x100" alt="" width="100" height="100"></div>
              <h2 class="promo-small--headline">Få svar & väl din Yep!</h2>
              <p class="promo-small--text">Du väljer vem som ska utföra jobbet. Läs mer</p>
            </div>
          </div>
          <div class="col col--4 col--sm-12 margin-v-sm">
            <div class="promo-small">
              <div class="promo-small--image"><img src="http://placehold.it/100x100" alt="" width="100" height="100"></div>
              <h2 class="promo-small--headline">Betala enkelt & säkert</h2>
              <p class="promo-small--text">Betala genom appen och utvärdera jobbet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
