<section class="section margin-v-lg">
  <div class="container">
    <div class="row">
      <div class="col col--5 col--md-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="1280" height="720" src="https://www.youtube.com/embed/0EtlUOMbdPk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col col--7 col--md-12">
        <div class="row">
          <div class="col col--4 col--sm-12">
            <div class="promo-small">
              <div class="promo-small--image"><img src="http://placehold.it/100x100" alt="" width="100" height="100"></div>
              <h2 class="promo-small--headline">Registrera dig & posta uppdrag</h2>
              <p class="promo-small--text">Finns både för iOS och Android, helt gratis att ladda ner. </p>
            </div>
          </div>
          <div class="col col--4 col--sm-12">
            <div class="promo-small">
              <div class="promo-small--image"><img src="http://placehold.it/100x100" alt="" width="100" height="100"></div>
              <h2 class="promo-small--headline">Få svar & väl din Yep!</h2>
              <p class="promo-small--text">Du väljer vem som ska utföra jobbet. Läs mer</p>
            </div>
          </div>
          <div class="col col--4 col--sm-12">
            <div class="promo-small">
              <div class="promo-small--image"><img src="http://placehold.it/100x100" alt="" width="100" height="100"></div>
              <h2 class="promo-small--headline">Betala enkelt & säkert</h2>
              <p class="promo-small--text">Betala genom appen och utvärdera jobbet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
